<!-- NEWSLETTER -->
<section class="newsletter container gap-section">
    <img [src]="newsletter" alt="" />

    <div class="newsletter-form">
        <div class="description">
            <span class="button-warning button-sm button-semi-bold">
                Newsletter
            </span>
            <h4>Ganhe R$ 30,00 em sua primeira compra</h4>
            <p>Não deixe de <a>Ver as Regras</a></p>
        </div>

        <form>
            <input type="email" name="email" placeholder="Deixe seu melhor e-mail" />
            <button type="button" class="button button-warning button-uppercase button-semi-bold button-base">
                Enviar
            </button>
        </form>
    </div>

    <div class="box-container">
        <div class="box">
            <i class="fas fa-shipping-fast"></i>

            <div>
                <h6>Frete grátis</h6>
                <p>Ganhe frete grátis nas compras acima de R$250,00</p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-unlock-alt"></i>

            <div>
                <h6>Segurança</h6>
                <p>Site 100% seguro. Garantia de 30 dias para desistência.</p>
            </div>
        </div>

        <div class="box">
            <i class="fa fa-credit-card"></i>

            <div>
                <h6>Parcelamento</h6>
                <p>Você pode parcelar suas compras em até 12 vezes sem juros</p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>

            <div>
                <h6>Atendimento</h6>
                <p>
                    Compre pelo telefone: <br />
                    <a>+55 (00) 0 0000-0000</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- / NEWSLETTER -->