<!-- HEADER -->
<header class="header">
    <div class="header__toolbar">
        <div class="container">
            <p class="text sm-text color-white">
                <span class="semi-bold">Troca grátis </span>
                em até 30 dias
            </p>

            <p class="text sm-text color-white">
                <span class="semi-bold">Frete grátis </span>
                para compras acima de R$99,90
            </p>

            <p class="text sm-text color-white">
                Parcele em até
                <span class="semi-bold">12x sem juros</span>
            </p>
        </div>
    </div>

    <div class="header__middle">
        <div class="container">
            <form class="search-produtos">
                <input type="text" placeholder="O que você procura?" />
                <button type="submit"></button>
            </form>
        </div>
    </div>
</header>
<!-- / HEADER -->