<!-- HEADER -->
<header class="header">
    <div class="header--toolbar">
        <div class="container">
            <div class="text-wrapper">
                <p>
                    <span>Troca grátis </span>
                    em até 30 dias
                </p>

                <p>
                    <span>Frete grátis </span>
                    para compras acima de R$99,90
                </p>

                <p>
                    Parcele em até
                    <span>12x sem juros</span>
                </p>
            </div>
        </div>
    </div>

    <div class="header--middle">
        <div class="container">
            <form class="search-produtos">
                <input title="Pesquisar produtos" type="text" placeholder="O que você procura?" />
                <button title="Pesquisar" type="button"><i class="fas fa-search"></i></button>
            </form>

            <a routerLink="/" class="logo">
                <img title="Outono Fashion" [src]="logo" alt="Outono Fashion" />
            </a>

            <div class="box-container">
                <div class="header-login">
                    <i class="far fa-user-circle"></i>
                    <div class="message">
                        <small>Bem-Vindo</small>
                        <p class="user-info">
                            <a routerLink="/conta" title="Acessar conta" class="login-true" style="display: none">
                                <span>John Doe</span>
                                <i class="fas fa-angle-down"></i>
                            </a>

                            <a routerLink="/login" title="Fazer login" class="login-false">
                                <span>Fazer login</span>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="icon-container">
                    <a routerLink="/carrinho" title="Carrinho" class="shopping-bag">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">2</span>
                    </a>

                    <a routerLink="/favoritos" title="Favoritos" class="washlist-heart">
                        <i class="far fa-heart"></i>
                    </a>

                    <a title="Menu de navegação" class="hambuguer-menu" (click)="isNavbar=true">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav class="header--navbar" [ngClass]="{active: isNavbar}">
        <a><i class="fas fa-times" (click)="isNavbar=false"></i></a>

        <div class="header--navbar-list-item">
            <a title="Início" (mouseover)="clearTarget()">Início</a>
            <a title="Masculino" (mouseover)="target=masculino" [ngClass]="{active: target == masculino}">Masculino</a>
            <a title="Feminino" (mouseover)="target=feminino" [ngClass]="{active: target == feminino}">Feminino</a>
            <a title="Infantil" (mouseover)="target=infantil" [ngClass]="{active: target == infantil}">Infantil</a>
            <a title="Acessórios" (mouseover)="target=acessorio" [ngClass]="{active: target == acessorio}">Acessórios</a>
            <a title="Marcas" (mouseover)="target=marcas" [ngClass]="{active: target == marcas}">Marcas</a>
            <a title="Promoções" (mouseover)="clearTarget()"><i class="fas fa-tags"></i> Promoções</a>
        </div>
    </nav>

    <div class="header--drop-menu custom-scrollbar" [ngClass]="{active: target != ''}">
        <a><i class="fas fa-arrow-left" (click)="clearTarget()"></i></a>

        <div class="container">
            <div #masculino data-target="masculino"
                (mouseout)="clearTarget()"
                [ngClass]="{active: target == masculino}"
                class="box-container">
                Masculino
            </div>

            <div #feminino data-target="feminino"
                (mouseover)="target=feminino" (mouseout)="clearTarget()"
                [ngClass]="{active: target == feminino}"
                class="box-container">
                <a class="button button-warning button-xs button-target" href="">Ir para Feminino</a>

                <div class="box">
                    <h6>Calçados</h6>
                    <div class="list-item custom-scrollbar">
                        <a 
                            *ngFor="let femininoCalcado of femininoCalcados"
                            (click)="goToProdutos('feminino', 'calcados', femininoCalcado.descricao)"
                        >{{femininoCalcado.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('feminino', 'calcados')">Todos calçados</a>
                </div>

                <div class="box">
                    <h6>Roupas</h6>
                    <div class="list-item custom-scrollbar">
                        <a href="">Bermudas</a>
                        <a href="">Calças</a>
                        <a href="">Camisas</a>
                        <a href="">Jaquetas</a>
                        <a href="">Moletons</a>
                        <a href="">Shorts</a>
                        <a href="">Vestidos</a>
                    </div>
                    <a class="active" href="">Todas roupas</a>
                </div>

                <div class="box">
                    <h6>Acessórios</h6>
                    <div class="list-item custom-scrollbar">
                        <a href="">Bonés</a>
                        <a href="">Malas</a>
                        <a href="">Meias</a>
                        <a href="">Mochilas</a>
                        <a href="">Óculos</a>
                        <a href="">Relógios</a>
                    </div>
                    <a class="active" href="">Todos acessórios</a>
                </div>

                <div class="box">
                    <h6>Marcas</h6>
                    <div class="list-item custom-scrollbar">
                        <a href="">Adidas</a>
                        <a href="">Asics</a>
                        <a href="">Fila</a>
                        <a href="">Kappa</a>
                        <a href="">Mizuno</a>
                        <a href="">Nike</a>
                        <a href="">Oakley</a>
                    </div>
                    <a class="active" href="">Todas marcas</a>
                </div>

                <div class="box">
                    <a href="">
                        <img title="Chinelos à partir de 29,99" [src]="femininoHighlight" alt="">
                    </a>
                </div>
            </div>

            <div #infantil data-target="infantil"
                (mouseout)="clearTarget()"
                [ngClass]="{active: target == infantil}"
                class="box-container">
                Infantil
            </div>

            <div #acessorio data-target="acessorio"
                (mouseout)="clearTarget()"
                [ngClass]="{active: target == acessorio}"
                class="box-container">
                Acessório
            </div>

            <div #marcas data-target="marcas"
                (mouseout)="clearTarget()"
                [ngClass]="{active: target == marcas}"
                class="box-container">
                Marcas
            </div>
        </div>
    </div>
</header>
<!-- / HEADER -->