<!-- HEADER -->
<header class="header">
    <div class="header--toolbar">
        <div class="container">
            <div class="text-wrapper">
                <p>
                    <span>Troca grátis </span>
                    em até 30 dias
                </p>

                <p>
                    <span>Frete grátis </span>
                    para compras acima de R$99,90
                </p>

                <p>
                    Parcele em até
                    <span>12x sem juros</span>
                </p>
            </div>
        </div>
    </div>

    <div class="header--middle">
        <div class="container">
            <form class="search-produtos">
                <input title="Pesquisar produtos" type="text" placeholder="O que você procura?" />
                <button title="Pesquisar" type="button"><i class="fas fa-search"></i></button>
            </form>

            <a (click)="redirectTo('')" class="logo">
                <img title="Outono Fashion" [src]="logo" alt="Outono Fashion" />
            </a>

            <div class="box-container">
                <div class="header-login">
                    <i class="far fa-user-circle"></i>
                    <div class="message">
                        <small>Bem-Vindo</small>
                        <p class="user-info">
                            <a *ngIf="login" (click)="userInfoDropBoolean = !userInfoDropBoolean" title="Acessar conta"
                                class="login-true">
                                <span>{{usuarioModel.nome}}</span>
                                <i class="fas fa-angle-down"></i>
                            </a>

                            <a *ngIf="login == false" (click)="redirectTo('login')" title="Fazer login"
                                class="login-false">
                                <span>Fazer login</span>
                            </a>
                        </p>
                    </div>

                    <div class="user-info--drop-box" [ngClass]="{active: userInfoDropBoolean}">
                        <a (click)="redirectTo('conta')"><i class="far fa-user-circle"></i>Conta</a>
                        <a (click)="redirectTo('carrinho')"><i class="fa fa-shopping-bag"></i>Carrinho</a>
                        <a (click)="redirectTo('favoritos')"><i class="far fa-heart"></i>Favoritos</a>
                        <a (click)="loggout()"><i class="fas fa-sign-out-alt"></i>Sair</a>
                    </div>
                </div>

                <div class="icon-container">
                    <a (click)="redirectTo('carrinho')" title="Carrinho" class="shopping-bag">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">{{getQuantidadeProdutos()}}</span>
                    </a>

                    <a (click)="redirectTo('favoritos')" title="Favoritos" class="washlist-heart">
                        <i class="far fa-heart"></i>
                    </a>

                    <a title="Menu de navegação" class="hambuguer-menu" (click)="navbarToggleBoolean=true">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav class="header--navbar" [ngClass]="{active: navbarToggleBoolean}">
        <a><i class="fas fa-times" (click)="navbarToggleBoolean=false"></i></a>

        <div class="header--navbar-list-item">
            <a title="Início" (mouseover)="clearTarget()">Início</a>
            <a title="Masculino" (mouseover)="target=masculino" [ngClass]="{active: target == masculino}">Masculino</a>
            <a title="Feminino" (mouseover)="target=feminino" [ngClass]="{active: target == feminino}">Feminino</a>
            <a title="Menino" (mouseover)="target=menino" [ngClass]="{active: target == menino}">Menino</a>
            <a title="Menina" (mouseover)="target=menina" [ngClass]="{active: target == menina}">Menina</a>
            <a title="Marcas" (mouseover)="clearTarget()" (click)="redirectTo('/produtos')">Marcas</a>
            <a title="Promoções" (mouseover)="clearTarget()"><i class="fas fa-tags"></i> Promoções</a>
        </div>
    </nav>

    <div class="header--drop-menu custom-scrollbar" [ngClass]="{active: target != ''}">
        <a><i class="fas fa-arrow-left" (click)="clearTarget()"></i></a>

        <div class="container">
            <div #masculino data-target="masculino" (mouseover)="target=masculino" (mouseout)="clearTarget()"
                [ngClass]="{active: target == masculino}" class="box-container">
                <a class="button button-warning button-xs button-target" (click)="redirectTo('/produtos/masculino')">Ir
                    para Masculino</a>

                <div class="box">
                    <h6>Calçados</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let calcado of calcadosMasculino"
                            (click)="goToProdutos('masculino', 'calcados', calcado.descricao)">{{calcado.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('masculino', 'calcados')">Todos calçados</a>
                </div>

                <div class="box">
                    <h6>Roupas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let roupa of roupasMasculino"
                            (click)="goToProdutos('masculino', 'roupas', roupa.descricao)">{{roupa.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('masculino', 'roupas')">Todas roupas</a>
                </div>

                <div class="box">
                    <h6>Acessórios</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let acessorio of acessoriosMasculino"
                            (click)="goToProdutos('masculino', 'acessorios', acessorio.descricao)">{{acessorio.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('masculino', 'calcados')">Todos acessórios</a>
                </div>

                <div class="box">
                    <h6>Marcas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let marca of marcasMasculino"
                            (click)="goToProdutos('masculino', undefined , undefined, marca.descricao)">{{marca.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('masculino')">Todas as marcas</a>
                </div>

                <div class="box">
                    <a href="">
                        <img title="Tênis com até 80% Off" [src]="masculinoHighlight" alt="">
                    </a>
                </div>
            </div>

            <div #feminino data-target="feminino" (mouseover)="target=feminino" (mouseout)="clearTarget()"
                [ngClass]="{active: target == feminino}" class="box-container">
                <a class="button button-warning button-xs button-target" (click)="redirectTo('/produtos/feminino')">Ir
                    para Feminino</a>

                <div class="box">
                    <h6>Calçados</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let calcado of calcadosFeminino"
                            (click)="goToProdutos('feminino', 'calcados', calcado.descricao)">{{calcado.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('feminino', 'calcados')">Todos calçados</a>
                </div>

                <div class="box">
                    <h6>Roupas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let roupa of roupasFeminino"
                            (click)="goToProdutos('feminino', 'roupas', roupa.descricao)">{{roupa.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('feminino', 'roupas')">Todas roupas</a>
                </div>

                <div class="box">
                    <h6>Acessórios</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let acessorio of acessoriosFeminino"
                            (click)="goToProdutos('feminino', 'acessorios', acessorio.descricao)">{{acessorio.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('feminino', 'acessorios')">Todos acessórios</a>
                </div>

                <div class="box">
                    <h6>Marcas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let marca of marcasFeminino"
                            (click)="goToProdutos('feminino', undefined , undefined, marca.descricao)">{{marca.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('feminino')">Todas as marcas</a>
                </div>

                <div class="box">
                    <a href="">
                        <img title="Chinelos à partir de 29,99" [src]="femininoHighlight" alt="">
                    </a>
                </div>
            </div>

            <div #menino data-target="menino" (mouseover)="target=menino" (mouseout)="clearTarget()"
                [ngClass]="{active: target == menino}" class="box-container">
                <a class="button button-warning button-xs button-target" (click)="redirectTo('/produtos/menino')">Ir
                    para Menino</a>

                <div class="box">
                    <h6>Calçados</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let calcado of calcadosMenino"
                            (click)="goToProdutos('menino', 'calcados', calcado.descricao)">{{calcado.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menino', 'calcados')">Todos calçados</a>
                </div>

                <div class="box">
                    <h6>Roupas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let roupa of roupasMenino"
                            (click)="goToProdutos('menino', 'roupas', roupa.descricao)">{{roupa.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menino', 'roupas')">Todas roupas</a>
                </div>

                <div class="box">
                    <h6>Acessórios</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let acessorio of acessoriosMenino"
                            (click)="goToProdutos('menino', 'acessorios', acessorio.descricao)">{{acessorio.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menino', 'acessorios')">Todos acessórios</a>
                </div>

                <div class="box">
                    <h6>Marcas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let marca of marcasMenino"
                            (click)="goToProdutos('menino', undefined , undefined, marca.descricao)">{{marca.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menino')">Todas as marcas</a>
                </div>

                <div class="box">
                    <a href="">
                        <img title="Tênis à partir de 129,99" [src]="meninoHighlight" alt="">
                    </a>
                </div>
            </div>

            <div #menina data-target="menina" (mouseover)="target=menina" (mouseout)="clearTarget()"
                [ngClass]="{active: target == menina}" class="box-container">
                <a class="button button-warning button-xs button-target" (click)="redirectTo('/produtos/menina')">Ir
                    para Menina</a>

                <div class="box">
                    <h6>Calçados</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let calcado of calcadosMenina"
                            (click)="goToProdutos('menina', 'calcados', calcado.descricao)">{{calcado.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menina', 'calcados')">Todos calçados</a>
                </div>

                <div class="box">
                    <h6>Roupas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let roupa of roupasMenina"
                            (click)="goToProdutos('menina', 'roupas', roupa.descricao)">{{roupa.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menina', 'roupas')">Todas roupas</a>
                </div>

                <div class="box">
                    <h6>Acessórios</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let acessorio of acessoriosMenina"
                            (click)="goToProdutos('menina', 'acessorios', acessorio.descricao)">{{acessorio.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menina', 'acessorios')">Todos acessórios</a>
                </div>

                <div class="box">
                    <h6>Marcas</h6>
                    <div class="list-item custom-scrollbar">
                        <a *ngFor="let marca of marcasMenina"
                            (click)="goToProdutos('menina', undefined , undefined, marca.descricao)">{{marca.descricao}}</a>
                    </div>
                    <a class="active" (click)="goToProdutos('menina')">Todas as marcas</a>
                </div>

                <div class="box">
                    <a href="">
                        <img title="Pijamas com 50% Off" [src]="meninaHighlight" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- / HEADER -->