@import '../../../styles.scss';

.message {
    position: fixed;
    right: 20px;
    top: 20px;

    max-width: 450px;
    width: 100%;
    padding: 20px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $color-white;

    box-shadow: $box-shadow-small;
    border-right: 2px solid $color-warning;

    font-size: $font-size-xs;
    line-height: $line-height-xs;

    z-index: 5;

    button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-weight: $font-weight-semi-bold;
        transition: all 200ms ease-in;

        &:hover {
            color: $color-warning;
        }
    }
}