@import '../../../styles.scss';

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    max-width: 450px;
    width: 100%;
    padding: 20px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $color-white;

    box-shadow: $box-shadow-small;

    font-size: $font-size-xs;
    line-height: $line-height-xs;

    z-index: 5;

    button {
        position: absolute;
        top: 10px;
        right: 20px;
        font-weight: $font-weight-semi-bold;
        transition: all 200ms ease-in;

        &:hover {
            color: $color-warning;
        }
    }
}