@import '../../../styles.scss';

.input-small {
    &.valid {
        .input-label {
            border: 1px solid $color-warning;

            .group-icon {
                .fa-check-circle {
                    display: block;
                    color: $color-warning;
                }
            }
        }
    }

    &.invalid {
        .input-label {
            border: 1px solid $color-red;

            .group-icon {
                .fa-times-circle {
                    display: block;
                    color: $color-red;
                }
            }
        }
    }

    .input-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        position: relative;

        width: 100%;
        padding: 0 20px;
        border: 1px solid $color-gray-500;

        height: 60px;

        .input-field {
            font-size: $font-size-base;
            line-height: $line-height-base;
            transition: all 1000ms ease-in;

            &:focus {
                position: absolute;
                bottom: 10px;

                &::placeholder {
                    color: $color-white;
                }

                ~small {
                    display: block;
                    position: absolute;
                    top: 10px;
                }
            }
        }

        .small-label {
            display: none;
            font-size: $font-size-xs;
            line-height: $line-height-xs;
            color: $color-warning;
            transition: all 1000ms ease-in;
        }

        .group-icon {
            display: flex;
            align-items: center;
            gap: 10px;

            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            .fas {
                display: none;
                font-size: $font-size-sm;
                // line-height: $line-height-sm;
                transition: all 200ms ease-in;

                &.active {
                    display: block;
                }

                &.fa-eye {
                    color: $color-warning;
                    cursor: pointer;

                    &:hover {
                        color: $color-black;
                    }
                }

                &.fa-eye-slash {
                    cursor: pointer;

                    &:hover {
                        color: $color-warning;
                    }
                }
            }
        }
    }

}