<section class="register-message container">
    <div class="content-wrapper">
        <div class="content">
            <a class="logo"><img [src]="logo" /></a>
            <h3>Esqueceu a senha?</h3>
            <p>Não tem problema, isso acontece sempre comigo xD</p>
            <p>
                Insira seu e-mail que logo você receberá na sua caixa de mensagem ou nos
                spams os procedimentos para recuperação de sua senha.
            </p>

            <div class="recuperar-form" [formGroup]="formRecuperarSenha">
                <!-- E-mail -->
                <div class="input-small"
                    [ngClass]="{invalid: formRecuperarSenha.controls['email'].invalid && (formRecuperarSenha.controls['email'].touched || formRecuperarSenha.controls['email'].dirty), valid: formRecuperarSenha.valid}">
                    <label class="input-label">
                        <input type="text" class="input-field" placeholder="Informe seu E-mail"
                            formControlName="email" />
                        <small class="small-label">E-mail</small>
                        <div class="group-icon">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </label>
                </div>

                <button type="button" class="button button-warning button-uppercase button-semi-bold button-sm"
                    [disabled]="formRecuperarSenha.invalid">
                    Recuperar senha
                </button>
            </div>
        </div>
        <div class="background">
            <img [src]="backgroundImage" alt="Outono Fashion" />
        </div>
    </div>
</section>