<article class="card">
    <div *ngIf="offer != ''" class="badge">
        <small>Desconto</small>
        <span>{{ offer }}% off</span>
    </div>

    <div class="image">
        <img src="{{ image }}" />
        <a (click)="goToProduto(nome, id)" class="button button-warning button-uppercase button-semi-bold button-xs">
            <i class="fa fa-cart-plus"></i>
            Comprar
        </a>
    </div>

    <div class="description">
        <p>{{ name }}</p>
        <div class="price-group">
            <span><small>R$</small>{{ priceMin }}</span>
            <!-- <span>-</span>
            <span><small>R$</small>{{ priceMax }}</span> -->
        </div>
    </div>
</article>