.gap-section {
    margin-bottom: 150px;
}

/* EDIT SCROLLBAR */
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-warning;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-gray-400;
    }
}

/* INPUT SMALL */
.input-small {
    &.valid {
        .input-label {
            border: 1px solid $color-warning;

            .group-icon {
                .fa-check-circle {
                    display: block;
                    color: $color-warning;
                }
            }
        }
    }

    &.invalid {
        .input-label {
            border: 1px solid $color-red;

            .group-icon {
                .fa-times-circle {
                    display: block;
                    color: $color-red;
                }
            }
        }
    }

    .input-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        position: relative;

        width: 100%;
        padding: 0 20px;
        border: 1px solid $color-gray-500;

        height: 60px;

        .input-field {
            font-size: $font-size-base;
            line-height: $line-height-base;
            width: calc(100% - 40px);
            transition: all 1000ms ease-in;

            &:focus {
                position: absolute;
                bottom: 10px;

                &::placeholder {
                    color: $color-white;
                }

                ~small {
                    display: block;
                    position: absolute;
                    top: 5px;
                }
            }

            &::-webkit-inner-spin-button,
            &::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
        }

        .small-label {
            display: none;
            font-size: $font-size-xs;
            line-height: $line-height-xs;
            color: $color-warning;
            transition: all 1000ms ease-in;
        }

        .group-icon {
            display: flex;
            align-items: center;
            gap: 10px;

            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            .fas {
                display: none;
                font-size: $font-size-sm;
                // line-height: $line-height-sm;
                transition: all 200ms ease-in;

                &.active {
                    display: block;
                }

                &.fa-eye {
                    color: $color-warning;
                    cursor: pointer;

                    &:hover {
                        color: $color-black;
                    }
                }

                &.fa-eye-slash {
                    cursor: pointer;

                    &:hover {
                        color: $color-warning;
                    }
                }
            }
        }
    }
}

/* INPUT BOX */
.input-box {
    position: relative;

    &.valid {

        .text-field,
        .input-field {
            border: 1px solid $color-warning;
        }

        .group-icon {
            .fa-check-circle {
                display: block;
                color: $color-warning;
            }
        }
    }

    &.invalid {

        .text-field,
        .input-field {
            border: 1px solid $color-red;
        }

        .group-icon {
            .fa-times-circle {
                display: block;
                color: $color-red;
            }
        }
    }

    .input-label {
        display: block;
        margin-bottom: 10px;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        color: $color-gray-600;
    }

    .input-field {
        padding: 0 20px;
        height: 40px;
        width: 100%;
        border: 1px solid $color-gray-500;
        font-size: $font-size-base;
        line-height: $line-height-base;
    }

    .text-field {
        padding: 10px 20px;
        width: 100%;
        border: 1px solid $color-gray-500;
        font-size: $font-size-base;
        line-height: $line-height-base;
        font-family: inherit;
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .group-icon {
        display: flex;
        align-items: center;

        position: absolute;
        right: 20px;
        bottom: 20px;
        transform: translateY(50%);

        .fas {
            display: none;
            font-size: $font-size-sm;
            transition: all 200ms ease-in;
        }
    }
}

/* SELECT BOX */
.select-box {
    &.valid {
        .select-field {
            border: 1px solid $color-warning;
        }
    }

    &.invalid {
        .select-field {
            border: 1px solid $color-red;
        }
    }

    .select-label {
        display: block;
        margin-bottom: 10px;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        color: $color-gray-600;
    }

    .select-field {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(/assets/icons/polygon.svg) no-repeat;
        background-position: calc(100% - 10px) center;

        padding: 0px 20px;
        height: 40px;
        width: 100%;
        border: 1px solid $color-gray-500;
        font-size: $font-size-base;
        line-height: $line-height-base;
    }
}

/* BREADCRUMB */
.breadcrumb {
    margin-bottom: 20px;

    a {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        color: $color-gray-700;
        transition: all 200ms ease-in;

        @media screen and (max-width: 580px) {
            font-size: $font-size-xs;
            line-height: $line-height-xs;
        }

        &:hover {
            color: $color-warning;
        }
    }

    i {
        font-size: 10px;
        color: $color-warning;
        margin: 18px;
    }
}

/* SLIDE CONTROLS */
.slide-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 20px;

    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);

    .prev-button,
    .next-button {
        padding: 5px 10px;
        font-size: 20px;
        background-color: $color-black;
        color: $color-white;
        border: none;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
            background-color: $color-warning;
        }
    }
}

/* HEADLINE */
.headline {
    text-align: center;
    margin-bottom: 60px;

    .subtitle {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        font-weight: $font-weight-semi-bold;
        color: $color-warning;
        text-transform: uppercase;
        letter-spacing: 0.25em;
    }

    .title {
        font-size: $font-size-h4;
        font-weight: $font-weight-semi-bold;
        color: $color-black;
    }
}

/* BUTTONS COLOR */
.button {
    border: 1px solid transparent;
    transition: all 200ms ease-in;
    font-weight: $font-weight-regular;
}

.button-warning {
    color: $color-white !important;
    background-color: $color-warning !important;
}

.button-warning:hover {
    color: $color-warning !important;
    background-color: $color-white !important;
    border-color: $color-warning !important;
}

.button-black {
    color: $color-white !important;
    background-color: $color-black !important;
}

.button-black:hover {
    color: $color-black !important;
    background-color: $color-white !important;
    border-color: $color-black !important;
}

.button-white {
    color: $color-warning !important;
    border-color: $color-warning !important;
}

.button-white:hover {
    color: $color-white !important;
    background-color: $color-warning !important;
}

.button-none {
    color: $color-black !important;
    border-color: $color-black !important;
}

.button-none:hover {
    background-color: $color-white !important;
}

.button-danger {
    color: $color-white !important;
    background-color: $color-red !important;
    border-color: $color-red !important;
}

.button-danger:hover {
    color: $color-red !important;
    background-color: $color-white !important;
}

/* BUTTONS FORMAT */
.button-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button-uppercase {
    text-transform: uppercase;
}

.button-semi-bold {
    font-weight: $font-weight-semi-bold;
}

.button-bold {
    font-weight: $font-weight-bold;
}

/* BUTTONS TYPE (XS - 10px) */
.button-xxs {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
    padding: 5px 15px;
    letter-spacing: 0.25em;
}

/* BUTTONS TYPE (XS - 12px) */
.button-xs {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    padding: 5px 20px;
    letter-spacing: 0.25em;
}

/* BUTTONS TYPE (SM - 14px) */
.button-sm {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    padding: 5px 20px;
    letter-spacing: 0.25em;
}

/* BUTTONS TYPE (BASE - 16px) */
.button-base {
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding: 10px 25px;
    letter-spacing: 0.25em;
}

/* BUTTONS TYPE (LG - 18px) */
.button-lg {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    padding: 10px 25px;
    letter-spacing: 0.25em;
}