<!-- HEADER CHECKOUT -->
<app-header-checkout></app-header-checkout>
<!-- / HEADER CHECKOUT -->

<!-- PAYMENT PROCCESS -->
<section class="payment-proccess container">
    <app-step [identity]="true" [payment]="true" [confirmation]="true"></app-step>

    <div class="payment-proccess--data-information">
        <i class="fas fa-check-circle"></i>
        <h3>Recebemos o seu pedido</h3>
        <p>Agradecemos pela confiança</p>
        <span class="order">Código: {{codigoPedido}}</span>
        <p>
            Você receberá um e-mail de confirmação com os detalhes do pedido. Para
            acompanhar o status do seu pedido você pode acessar sua <a routerLink="/conta" class="account">conta</a> e
            clicar em <a class="orders">meus pedidos.</a>
        </p>
        <p>Obrigado por comprar em nossa loja!</p>
        <a routerLink="/" class="button button-warning button-uppercase button-semi button-base">Página inicial</a>
    </div>
</section>
<!-- / PAYMENT PROCCESS -->

<!-- FOOTER CHECKOUT -->
<app-footer-checkout></app-footer-checkout>
<!-- / FOOTER CHECKOUT -->