<!-- HEADER COMPONENT -->
<app-header></app-header>
<!-- / HEADER COMPONENT -->

<!-- CART -->
<section class="cart container gap-section">
    <h4 class="cart-title">Minha Sacola</h4>
    <small class="quantity-products">{{getQuantidadeProdutos()}} produtos</small>

    <div class="cart-header">
        <span>Produto</span>
        <span>Descrição</span>
        <span>Quantidade</span>
        <span>Valor Unitário</span>
        <span>Subtotal</span>
    </div>

    <div class="cart-list">
        <div class="product-cart" *ngFor="let produto of produtosCarrinho">
            <div class="image-box">
                <img src="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                    alt="{{produto.nome}}" />
                <!-- <swiper [config]="imageSlide" >
                    <ng-template swiperSlide *ngFor="let imagem of produto.imagens" >
                        <div class="image-wrapper">
                            <img src="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{imagem.nome | replace:' ':'-'}}.{{imagem.tipo}}" />                
                        </div>
                    </ng-template>
                </swiper> -->
            </div>

            <div class="description-box">
                <span>Descrição</span>
                <h6>{{produto.marca.descricao}}</h6>
                <p>{{produto.nome}}</p>
                <small>Tamanho: {{produto.tamanhoDescricao}}</small>
                <small>Cor: {{produto.corDescricao}}</small>
            </div>

            <div class="quantity-box">
                <span>Quantidade</span>

                <label class="quantity-container">
                    <input class="quantity" type="number" min="1" [(ngModel)]="produto.quantidade" />
                    <button class="upper" (click)="upper(produto.id)">
                        <svg width="12" height="12" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L7.4641 6H0.535898L4 0Z" fill="#F29D36" />
                        </svg>
                    </button>
                    <button class="down" (click)="down(produto.id)">
                        <svg width="12" height="12" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L7.4641 6H0.535898L4 0Z" fill="#F29D36" />
                        </svg>
                    </button>
                </label>
            </div>

            <div class="price-box">
                <span>Valor</span>
                <h5>{{produto.precoSelecionado | currency:'BRL'}}</h5>
            </div>

            <div class="subtotal-box">
                <span>Subtotal</span>
                <h5>{{produto.precoSelecionado * produto.quantidade | currency:'BRL'}}</h5>
            </div>

            <div class="delete-box">
                <button (click)="deleteProdutoCarrinho(produto)" class="button button-danger button-xxs"><i
                        class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="cart-footer">
        <div class="shipping">
            <p>Simule o prazo de entrega e o taxa de entrega para seu CEP abaixo:</p>

            <div *ngIf="taxaEntrega != undefined" class="result-shipping">
                <div class="location">
                    <small><span>Localização:</span> São Paulo, SP</small>
                    <small><span>Endereço:</span> Rua das Laranjeiras, Bairro Cascata</small>
                </div>

                <div class="values">
                    <small><span>Prazo:</span> 10 dia(s)</small>
                    <small><span>Taxa de entrega:</span> R$10,90</small>
                </div>
            </div>

            <div class="input-cep">
                <input type="text" [(ngModel)]="cep" />
                <button type="button" class="button button-warning button-uppercase button-semi button-base"
                    (click)="setTaxaEntrega(cep)">Ok</button>
            </div>
        </div>

        <div class="summary">
            <h6>Resumo</h6>
            <div class="summary-top">
                <div class="value">
                    <span>Subtotal</span>
                    <span>{{subTotal | currency:'BRL'}}</span>
                </div>

                <div class="value">
                    <span>Taxa de entrega</span>
                    <span *ngIf="taxaEntrega == undefined">à Calcular</span>
                    <span *ngIf="taxaEntrega != undefined">R$10,90</span>
                </div>
            </div>

            <div class="summary-middle">
                <div class="value">
                    <span>Total</span>
                    <span *ngIf="taxaEntrega == undefined">à Calcular</span>
                    <div *ngIf="taxaEntrega != undefined" class="total">
                        <h5>{{total | currency:'BRL'}}</h5>
                        <small class="installment">ou em até {{parcela}}x de {{total / parcela |
                            currency:'BRL'}}</small>
                    </div>
                </div>
            </div>

            <div class="coupon">
                <i class="fa fa-gift"></i>
                <span>
                    <p>Possui cupom de desconto?</p>
                    <p>Use na etapa de pagamento</p>
                </span>
            </div>

            <a routerLink="/finalizar-compra" class="button button-warning button-uppercase button-semi button-sm order-button">Finalizar
                pedido</a>
        </div>
    </div>
</section>
<!-- / CART -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->