<!-- HEADER CHECKOUT -->
<app-header-checkout></app-header-checkout>
<!-- / HEADER CHECKOUT -->

<!-- LOGIN CHECKOUT -->
<section class="login-checkout">
    <img [src]="backgroundImage" alt="" class="login-checkout--background-image" />

    <div class="container">
        <app-step [identity]="true"></app-step>

        <form class="login-checkout--form-login" [formGroup]="formLogin">
            <h6>Já sou cadastrado</h6>

            <div class="input-wrapper">
                <div class="input-small"
                    [ngClass]="{invalid: formLogin.controls['login'].invalid && (formLogin.controls['login'].touched || formLogin.controls['login'].dirty), valid: formLogin.valid}">
                    <label class="input-label" for="login">
                        <input type="text" id="login" class="input-field" placeholder="Informe seu e-mail" required
                            formControlName="login" />
                        <small class="small-label">E-mail</small>
                        <div class="group-icon">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </label>
                </div>

                <div class="input-small"
                    [ngClass]="{invalid: formLogin.controls['senha'].invalid && (formLogin.controls['senha'].touched || formLogin.controls['senha'].dirty), valid: formLogin.valid}">
                    <label class="input-label" for="senha">
                        <input [type]="passwordLoginType" id="senha" class="input-field" placeholder="Insira sua senha"
                            required formControlName="senha" />
                        <small class="small-label">Senha</small>
                        <div class="group-icon">
                            <i [ngClass]="{active: passwordLoginBoolean}" (click)="setPasswordLogin()"
                                class="fas fa-eye"></i>
                            <i [ngClass]="{active: !passwordLoginBoolean}" (click)="setPasswordLogin()"
                                class="fas fa-eye-slash"></i>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </label>
                </div>
            </div>

            <div class="submit-wrapper">
                <button type="submit" class="button button-warning button-uppercase button-semi button-base">
                    Entrar
                </button>
                <a class="forget-password">Esqueceu a senha?</a>
            </div>

            <button type="button" class="button button-white button-uppercase button-semi button-base"
                (click)="registerConta()">
                Criar conta
            </button>
        </form>
    </div>
</section>
<!-- / LOGIN CHECKOUT -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->

<!-- [ngClass]="{invalid: fGroup.controls['senha'].invalid && (fGroup.controls['senha'].touched || fGroup.controls['senha'].dirty), valid: fGroup.valid}" -->
<!-- type!: string | name!: string | id!: string | placeholder!: string | required!: boolean | fieldLabel!: string | eyeButton!: boolean | formControlName -->
<!-- <div class="input-small">
        <label class="input-label" for="senha">
            <input [type]="type" name="senha" id="senha" class="input-field" placeholder="Insira sua senha" required />
            <small class="small-label">Senha</small>
            <div class="group-icon">
                <i *ngIf="eyeButton" [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                <i *ngIf="eyeButton" [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-times-circle"></i>
            </div>
        </label>
    </div> -->

<!-- type!: string | name!: string | id!: string | placeholder!: string | required!: boolean | fieldLabel!: string |  -->
<!-- <div class="input-box invalid">
        <label class="input-label" for="login">Login</label>
        <input type="text" name="login" id="login" class="input-field" placeholder="Login" required />
        <div class="group-icon">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-times-circle"></i>
        </div>
    </div> -->

<!-- name!: string | id!: string | required!: boolean | fieldLabel!: string |  -->
<!-- <div class="select-box valid">
        <label class="select-label" for="opcao">Países</label>
        <select name="pais" id="opcao" class="select-field" required>
            <option selected disabled>Mês</option>
            <option value="1">1</option>
        </select>
    </div> -->