<div class="step">
    <div [ngClass]="{check: identity}" class="step--identity">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12.5" cy="12.5" r="11" stroke="black" stroke-opacity="0.2" stroke-width="3" />
        </svg>
        <p>Identificação</p>
    </div>

    <div [ngClass]="{check: payment}" class="step--payment">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12.5" cy="12.5" r="11" stroke="black" stroke-opacity="0.2" stroke-width="3" />
        </svg>
        <p>Pagamento</p>
    </div>

    <div [ngClass]="{check: confirmation}" class="step--confirmation">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12.5" cy="12.5" r="11" stroke="black" stroke-opacity="0.2" stroke-width="3" />
        </svg>
        <p>Confirmação</p>
    </div>
</div>