<!-- HEADER COMPONENT -->
<app-header></app-header>
<!-- / HEADER COMPONENT -->

<!-- <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
</swiper> -->

<!-- BANNER -->
<div class="banner container">
    <div class="content">
        <div class="breadcrumb">
            <a>Início</a>
            <i class="fa fa-chevron-right"></i>
            <!-- Gênero -->
            <a>Feminino</a>
            <i class="fa fa-chevron-right"></i>
            <!-- Categoria -->
            <a>Roupas</a>
            <i class="fa fa-chevron-right"></i>
            <!-- Tipo -->
            <a>Camisas</a>
            <i class="fa fa-chevron-right"></i>
            <!-- Marca -->
            <a>Calvin Klein</a>
        </div>
        <!-- Categoria + Gênero -->
        <h2>Camisas Feminino</h2>
    </div>
</div>
<!-- / BANNER -->

<!-- CATALOG -->
<section class="catalog container">
    <div class="loader-produtos" [ngClass]="{active: loader == true}">
        <img [src]="loaderGif" alt="Carregando produtos" />
    </div>
    
    <!-- SIDEBAR -->
    <aside class="sidebar custom-scrollbar" [ngClass]="{active: sideBars == true}">
        <button class="side-times" type="button" (click)="sideBars=!sideBars"><i class="fa fa-times"></i></button>

        <form class="search-sidebar">
            <h6>Filtro</h6>
            
            <h5>Gênero<i class="fas fa-minus" (click)="sideGenero=!sideGenero" [ngClass]="{'fa-plus': sideGenero == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideGenero == true}">
                <app-checkbox *ngFor="let genero of generos"
                    titleLabel="{{genero.descricao}}"
                    placeholder="{{genero.descricao}}"
                    inputName="genero"
                    valueCheckbox="{{genero.descricao | replace}}"
                ></app-checkbox>
            </div>

            <h5>Categoria<i class="fas fa-minus" (click)="sideCategoria=!sideCategoria" [ngClass]="{'fa-plus': sideCategoria == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCategoria == true}">
                <app-checkbox *ngFor="let categoria of categorias"
                    titleLabel="{{categoria.descricao}}"
                    placeholder="{{categoria.descricao}}"
                    inputName="categoria"
                    valueCheckbox="{{categoria.descricao | replace}}"
                ></app-checkbox>
            </div>

            <h5>Tipo<i class="fas fa-minus" (click)="sideTipo=!sideTipo" [ngClass]="{'fa-plus': sideTipo == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTipo == true}">
                <app-checkbox *ngFor="let tipo of tipos"
                    titleLabel="{{tipo.descricao}}"
                    placeholder="{{tipo.descricao}}"
                    inputName="tipo"
                    valueCheckbox="{{tipo.descricao | replace}}"
                ></app-checkbox>
            </div>

            <h5>Tamanho<i class="fas fa-minus" (click)="sideTamanho=!sideTamanho" [ngClass]="{'fa-plus': sideTamanho == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTamanho == true}">
                <app-checkbox *ngFor="let tamanho of tamanhos"
                    titleLabel="{{tamanho.descricao}}"
                    placeholder="{{tamanho.descricao}}"
                    inputName="tamanho"
                    valueCheckbox="{{tamanho.descricao | replace}}"
                ></app-checkbox>
            </div>

            <h5>Cor<i class="fas fa-minus" (click)="sideCor=!sideCor" [ngClass]="{'fa-plus': sideCor == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCor == true}">
                <app-checkbox *ngFor="let cor of cores"
                    titleLabel="{{cor.descricao}}"
                    placeholder="{{cor.descricao}}"
                    inputName="cor"
                    valueCheckbox="{{cor.descricao | replace:' ':'-'}}"
                ></app-checkbox>
            </div>

            <h5>Marca<i class="fas fa-minus" (click)="sideMarca=!sideMarca" [ngClass]="{'fa-plus': sideMarca == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideMarca == true}">
                <app-checkbox *ngFor="let marca of marcas"
                    titleLabel="{{marca.descricao}}"
                    placeholder="{{marca.descricao}}"
                    inputName="marca"
                    valueCheckbox="{{marca.descricao | replace}}"
                ></app-checkbox>
            </div>

            <h5>Faixa de Preço<i class="fas fa-minus" (click)="sidePreco=!sidePreco" [ngClass]="{'fa-plus': sidePreco == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sidePreco == true}">
            </div>

            <button type="submit" class="button button-white button-uppercase button-bold button-xs">
            Filtar
            </button>
        </form>
    </aside>
    <!-- / SIDEBAR -->

    <!-- LIST -->
    <section class="list">
        <div class="navigation">
            <div class="information">
                <button class="side-bars" type="button" (click)="sideBars=!sideBars"><i class="fa fa-bars"></i></button>
                <span class="quantity">3.564 Produtos</span>
            </div>
                
            <form class="sorted">
                ordernar por
                <select name="ordem" class="custom-select">
                    <option value="populares" selected>Mais populares</option>
                    <option value="vendidos">Mais vendidos</option>
                    <option value="lancamento">Lançamentos</option>
                    <option value="ofertas">Ofertas</option>
                    <option value="maior-preco">Maior Preço</option>
                    <option value="menor-preco">Menor Preço</option>
                </select>
            </form>
        </div>

        <div class="card-container">
            <app-card
                *ngFor="let produto of produtos"
                image="/assets/produtos/{{produto.genero.descricao | replace}}/{{produto.categoria.descricao | replace}}/{{produto.tipo.descricao | replace}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                name="{{produto.nome}}"
                price="252,90"
            ></app-card>
        </div>

        <div class="pagination">
            <a><i class="fa fa-chevron-left"></i></a>
            <a class="active">1</a>
            <a>2</a>
            <a>3</a>
            <span>...</span>
            <a>10</a>
            <a><i class="fa fa-chevron-right"></i></a>
        </div>
    </section>
    <!-- / LIST -->
</section>
<!-- / CATALOG -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->