@import '../../../styles.scss';

.banner .content {
    padding: 30px;
    background-color: $color-gray-200;
    margin-bottom: 100px;

    .breadcrumb {
        margin-bottom: 20px;

        a {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $color-gray-700;
            transition: all 200ms ease-in;

            @media screen and (max-width: 580px) {
                font-size: $font-size-xs;
                line-height: $line-height-xs;
            }

            &:hover {
                color: $color-warning;
            }
        }

        i {
            font-size: 10px;
            color: $color-warning;
            margin: 18px;
        }
    }

    h2 {
        font-size: $font-size-h2;
        font-weight: $font-weight-regular;
        line-height: $line-height-h2;
    }
}

.catalog {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 40px;
    margin-bottom: 100px;

    @media screen and (max-width: 992px) {
        grid-template-columns: 100%;
    }

    .sidebar {
        @media screen and (max-width: 992px) {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -100%;

            width: 250px;
            padding: 24px 10px;

            overflow-y: auto;
            background-color: $color-white;
            box-shadow: $box-shadow-small;
            z-index: 2;
            transition: all 400ms ease-in;

            &.active {
                right: 0;

                box-shadow: $box-shadow-large,
                    0 0 0 100vw rgba(0, 0, 0, 0.3);
            }
        }

        .side-times {
            display: none;

            @media screen and (max-width: 992px) {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: $font-size-h5;
                color: $color-warning;
                padding: 2px 5px;
                transition: all 200ms ease-in;

                &:hover {
                    color: $color-warning;
                }
            }
        }

        h6 {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 0.25em;
            color: $color-warning;
            margin-bottom: 20px;
        }

        h5 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: $font-size-lg;
            font-weight: $font-weight-regular;
            line-height: $line-height-lg;
            color: $color-black;
            padding-bottom: 10px;
            margin-bottom: 30px;
            border-bottom: 2px solid $color-gray-300;

            i {
                font-size: $font-size-xs;
                cursor: pointer;
                transition: all 200ms ease-in;

                &:hover {
                    color: $color-warning;
                }
            }
        }

        .checkbox-container {
            max-height: 105px;
            overflow-y: scroll;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &.hide {
                display: none;
                transform: scale(0);
            }
        }
    }

    .list {
        .navigation {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 90px;

            .information {
                display: flex;
                align-items: center;

                .side-bars {
                    display: none;

                    @media screen and (max-width: 992px) {
                        display: inline-block;
                        font-size: $font-size-h4;
                        line-height: $line-height-h4;
                        color: $color-gray-800;
                        padding: 1px 5px;
                        border: 2px solid $color-gray-500;
                        margin-right: 10px;
                    }
                }
            }

            .quantity,
            .sorted {
                font-size: $font-size-sm;
                line-height: $line-height-sm;
                font-weight: $font-weight-bold;
                color: $color-gray-500;
            }

            .sorted {
                @media screen and (max-width: 480px) {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 36px;
            margin-bottom: 60px;

            @media screen and (max-width: 750px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 450px) {
                grid-template-columns: 100%;
            }
        }

        .pagination {
            text-align: center;

            span,
            a {
                padding: 5px 10px;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                line-height: $line-height-sm;
                color: $color-gray-500;
            }

            a {
                transition: all 200ms ease-in;
                border: 2px solid $color-gray-500;

                &.active {
                    color: $color-white;
                    background-color: $color-warning;
                    border-color: $color-warning;
                }

                &:hover {
                    color: $color-white;
                    background-color: $color-black;
                    border-color: $color-black;
                }
            }

            span,
            a:not(:last-child) {
                margin-right: 2px;
            }
        }
    }
}