<!-- HEADER COMPONENT -->
<app-header></app-header>
<!-- / HEADER COMPONENT -->

<!-- <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>
</swiper> -->

<!-- BANNER -->
<div class="banner">
    <div class="container">
        <h6><span>Troca facilitada:</span> até 60 dias para trocar ou devolver seu produto.</h6>
    </div>
</div>
<!-- / BANNER -->

<!-- CATALOG -->
<section class="catalog container">
    <div class="loader-produtos" [ngClass]="{active: loader == true}">
        <img [src]="loaderGif" alt="Carregando produtos" />
    </div>
    
    <!-- SIDEBAR -->
    <aside class="sidebar custom-scrollbar" [ngClass]="{active: sideBars == true}">
        <button class="side-times" type="button" (click)="sideBars=!sideBars"><i class="fa fa-times"></i></button>
        <button (click)="showProdutos()">Show produtos</button>
        <form class="search-sidebar">
            <h6>Filtro</h6>
            
            <h5>Gênero<i class="fas fa-minus" (click)="sideGenero=!sideGenero" [ngClass]="{'fa-plus': sideGenero == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideGenero == true}">
                <app-checkbox *ngFor="let g of generos"
                    titleLabel="{{g.descricao}}"
                    placeholder="{{g.descricao}}"
                    inputName="genero"
                    valueCheckbox="{{g.descricao | replace:' ':'-'}}"
                    check="{{genero | compare:g.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Categoria<i class="fas fa-minus" (click)="sideCategoria=!sideCategoria" [ngClass]="{'fa-plus': sideCategoria == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCategoria == true}">
                <app-checkbox *ngFor="let c of categorias"
                    titleLabel="{{c.descricao}}"
                    placeholder="{{c.descricao}}"
                    inputName="categoria"
                    valueCheckbox="{{c.descricao | replace:' ':'-'}}"
                    check="{{categoria | compare:c.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Tipo<i class="fas fa-minus" (click)="sideTipo=!sideTipo" [ngClass]="{'fa-plus': sideTipo == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTipo == true}">
                <app-checkbox *ngFor="let t of tipos"
                    titleLabel="{{t.descricao}}"
                    placeholder="{{t.descricao}}"
                    inputName="tipo"
                    valueCheckbox="{{t.descricao | replace:' ':'-'}}"
                    check="{{tipo | compare:t.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Tamanho<i class="fas fa-minus" (click)="sideTamanho=!sideTamanho" [ngClass]="{'fa-plus': sideTamanho == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTamanho == true}">
                <app-checkbox *ngFor="let t of tamanhos"
                    titleLabel="{{t.descricao}}"
                    placeholder="{{t.descricao}}"
                    inputName="tamanho"
                    valueCheckbox="{{t.descricao | replace:' ':'-'}}"
                    check="{{tamanho | compare:t.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Cor<i class="fas fa-minus" (click)="sideCor=!sideCor" [ngClass]="{'fa-plus': sideCor == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCor == true}">
                <app-checkbox *ngFor="let c of cores"
                    titleLabel="{{c.descricao}}"
                    placeholder="{{c.descricao}}"
                    inputName="cor"
                    valueCheckbox="{{c.descricao | replace:' ':'-'}}"
                    check="{{cor | compare:c.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Marca<i class="fas fa-minus" (click)="sideMarca=!sideMarca" [ngClass]="{'fa-plus': sideMarca == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideMarca == true}">
                <app-checkbox *ngFor="let m of marcas"
                    titleLabel="{{m.descricao}}"
                    placeholder="{{m.descricao}}"
                    inputName="marca"
                    valueCheckbox="{{m.descricao | replace:' ':'-'}}"
                    check="{{marca | compare:m.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Faixa de Preço<i class="fas fa-minus" (click)="sidePreco=!sidePreco" [ngClass]="{'fa-plus': sidePreco == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sidePreco == true}">
            </div>

            <div class="button-group">
                <button type="submit" class="button button-black button-uppercase button-bold button-xs">
                    Filtar
                </button>
                <button class="button button-white button-uppercase button-bold button-xs" (click)="clearQueries()">
                    Limpar
                </button>
            </div>
        </form>
    </aside>
    <!-- / SIDEBAR -->

    <!-- LIST -->
    <section class="list">
        <div class="navigation">
            <div class="information">
                <button class="side-bars" type="button" (click)="sideBars=!sideBars"><i class="fa fa-bars"></i></button>
                <span class="quantity">{{produtos.length}} Produtos</span>
            </div>
                
            <form class="sorted">
                ordernar por
                <select name="ordem" class="custom-select">
                    <option value="populares" selected>Mais populares</option>
                    <option value="vendidos">Mais vendidos</option>
                    <option value="lancamento">Lançamentos</option>
                    <option value="ofertas">Ofertas</option>
                    <option value="maior-preco">Maior Preço</option>
                    <option value="menor-preco">Menor Preço</option>
                </select>
            </form>
        </div>

        <div class="card-container">
            <app-card
                *ngFor="let produto of produtos"
                image="/assets/produtos/{{produto.genero.descricao | replace}}/{{produto.categoria.descricao | replace}}/{{produto.tipo.descricao | replace}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                name="{{produto.nome}}"
                priceMin="{{produto.estoques | priceproduto:'min'}}"
                priceMax="{{produto.estoques | priceproduto:'max'}}"
            ></app-card>
        </div>

        <div class="pagination">
            <a><i class="fa fa-chevron-left"></i></a>
            <a class="active">1</a>
            <a>2</a>
            <a>3</a>
            <span>...</span>
            <a>10</a>
            <a><i class="fa fa-chevron-right"></i></a>
        </div>
    </section>
    <!-- / LIST -->
</section>
<!-- / CATALOG -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->