@import '../../../styles.scss';

.banner .content {
    padding: 30px;
    background-color: $color-gray-200;
    margin-bottom: 100px;

    .breadcrumb {
        margin-bottom: 20px;

        a {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $color-gray-700;
            transition: all 200ms ease-in;

            @media screen and (max-width: 580px) {
                font-size: $font-size-xs;
                line-height: $line-height-xs;
            }

            &:hover {
                color: $color-warning;
            }
        }

        i {
            font-size: 10px;
            color: $color-warning;
            margin: 18px;
        }
    }

    h2 {
        font-size: $font-size-h2;
        font-weight: $font-weight-regular;
        line-height: $line-height-h2;
    }
}

.catalog {
    display: grid;
    grid-template-columns: 260px auto;
    gap: 40px;

    .sidebar {
        h6 {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 0.25em;
            color: $color-warning;
            margin-bottom: 20px;
        }

        h5 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: $font-size-h5;
            font-weight: $font-weight-regular;
            line-height: $line-height-h5;
            color: $color-black;
            padding-bottom: 10px;
            margin-bottom: 30px;
            border-bottom: 2px solid $color-gray-300;

            i {
                cursor: pointer;
                transition: all 200ms ease-in;

                &:hover {
                    color: $color-warning;
                }
            }
        }

        .checkbox-container {
            max-height: 105px;
            overflow-y: scroll;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &.hide {
                display: none;
                transform: scale(0);
            }
        }
    }
}