<!-- HEADER COMPONENT -->
<app-header></app-header>
<!-- / HEADER COMPONENT -->

<!-- BANNER -->
<div class="banner">
    <div class="container">
        <h6><span>Troca facilitada:</span> até 60 dias para trocar ou devolver seu produto.</h6>
    </div>
</div>
<!-- / BANNER -->

<!-- CATALOG -->
<form class="catalog container">
    <div class="catalog--loader-produtos" [ngClass]="{active: loader == true}">
        <img [src]="loaderGif" alt="Carregando produtos" />
    </div>
    
    <!-- SIDEBAR -->
    <aside class="catalog--sidebar custom-scrollbar" [ngClass]="{active: sideBars == true}">
        <button class="side-times" type="button" (click)="sideBars=!sideBars"><i class="fa fa-times"></i></button>
        
        <div class="search-sidebar">
            <h6>Filtro</h6>
            
            <h5>Gênero<i class="fas fa-minus" (click)="sideGenero=!sideGenero" [ngClass]="{'fa-plus': sideGenero == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideGenero == true}">
                <app-checkbox *ngFor="let g of generos"
                    title="{{g.descricao}}"
                    placeholder="{{g.descricao}}"
                    name="genero"
                    value="{{g.descricao | replace:' ':'-'}}"
                    check="{{genero | compare:g.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Categoria<i class="fas fa-minus" (click)="sideCategoria=!sideCategoria" [ngClass]="{'fa-plus': sideCategoria == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCategoria == true}">
                <app-checkbox *ngFor="let c of categorias"
                    title="{{c.descricao}}"
                    placeholder="{{c.descricao}}"
                    name="categoria"
                    value="{{c.descricao | replace:' ':'-'}}"
                    check="{{categoria | compare:c.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Tipo<i class="fas fa-minus" (click)="sideTipo=!sideTipo" [ngClass]="{'fa-plus': sideTipo == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTipo == true}">
                <app-checkbox *ngFor="let t of tipos"
                    title="{{t.descricao}}"
                    placeholder="{{t.descricao}}"
                    name="tipo"
                    value="{{t.descricao | replace:' ':'-'}}"
                    check="{{tipo | compare:t.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Tamanho<i class="fas fa-minus" (click)="sideTamanho=!sideTamanho" [ngClass]="{'fa-plus': sideTamanho == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideTamanho == true}">
                <app-checkbox *ngFor="let t of tamanhos"
                    title="{{t.descricao}}"
                    placeholder="{{t.descricao}}"
                    name="tamanho"
                    value="{{t.descricao | replace:' ':'-'}}"
                    check="{{tamanho | compare:t.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Cor<i class="fas fa-minus" (click)="sideCor=!sideCor" [ngClass]="{'fa-plus': sideCor == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideCor == true}">
                <app-checkbox *ngFor="let c of cores"
                    title="{{c.descricao}}"
                    placeholder="{{c.descricao}}"
                    name="cor"
                    value="{{c.descricao | replace:' ':'-'}}"
                    check="{{cor | compare:c.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Marca<i class="fas fa-minus" (click)="sideMarca=!sideMarca" [ngClass]="{'fa-plus': sideMarca == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sideMarca == true}">
                <app-checkbox *ngFor="let m of marcas"
                    title="{{m.descricao}}"
                    placeholder="{{m.descricao}}"
                    name="marca"
                    value="{{m.descricao | replace:' ':'-'}}"
                    check="{{marca | compare:m.descricao }}"
                ></app-checkbox>
            </div>

            <h5>Faixa de Preço<i class="fas fa-minus" (click)="sidePreco=!sidePreco" [ngClass]="{'fa-plus': sidePreco == true}"></i></h5>
            <div class="checkbox-container custom-scrollbar" [ngClass]="{hide: sidePreco == true}">
            </div>

            <div class="button-group">
                <button  class="button button-black button-uppercase button-bold button-xs">
                    Filtar
                </button>
                <button class="button button-white button-uppercase button-bold button-xs" (click)="clearQueries()">
                    Limpar
                </button>
            </div>
        </div>
    </aside>
    <!-- / SIDEBAR -->

    <!-- LIST -->
    <section class="catalog--list">
        <div class="navigation">
            <div class="information">
                <button class="side-bars" type="button" (click)="sideBars=!sideBars"><i class="fa fa-bars"></i></button>
                <span class="quantity">{{produtos.length}} Produtos</span>
            </div>
                
            <div class="sorted">
                ordernar por
                <div class="select-box">
                    <select name="order" id="order" class="select-field" required>
                        <option selected disabled>Filtrar por</option>
                        <option value="populares">Mais populares</option>
                        <option value="vendidos">Mais vendidos</option>
                        <option value="lancamento">Lançamentos</option>
                        <option value="ofertas">Ofertas</option>
                        <option value="maior-preco">Maior Preço</option>
                        <option value="menor-preco">Menor Preço</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card-container">
            <app-card
                *ngFor="let produto of produtosList"
                image="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                name="{{produto.nome}}"
                priceMin="{{produto.estoques | priceproduto:'min'}}"
                priceMax="{{produto.estoques | priceproduto:'max'}}"
                nome="{{produto.nome | replace:' ':'-'}}"
                id="{{produto.id}}"
            ></app-card>
        </div>

        <div class="pagination">
            <button [disabled]="page == 0" name="page" value="{{page}}" (click)="page=page-1"><i class="fa fa-chevron-left"></i></button>

            <button [ngClass]="{active: p == page}" *ngFor="let p of arrPages" name="page" value="{{p}}">{{p}}</button>

            <button [disabled]="page == pages + 1" name="page" value="{{page}}" (click)="page=page+1"><i class="fa fa-chevron-right"></i></button>
        </div>
    </section>
    <!-- / LIST -->
</form>
<!-- / CATALOG -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->