<label (click)="active.emit(enderecoApelido)">
    <input type="radio" name="address" [checked]="enderecoAtivo" />
    <span>
        <h6 class="name">{{enderecoApelido}}</h6>
        <address>
            <p class="street">{{enderecoLogradouro}}, {{enderecoNumero}}</p>
            <p class="neighborhood">{{enderecoBairro}}</p>
            <p class="complement" *ngIf="enderecoReferencia || enderecoComplemento; else emptyComplement ">
                {{enderecoReferencia}} {{enderecoComplemento}}</p>
            <ng-template #emptyComplement>
                <p>-</p>
            </ng-template>
            <p class="state">{{enderecoCidade}} - {{enderecoUf}}</p>
            <p class="cep">CEP: {{enderecoCep}}</p>
        </address>
        <a><i class="fas fa-trash"></i></a>
    </span>
</label>