<div class="rangebox">
    <div class="values">
        <span id="min-value">0</span>
        <span>&dash;</span>
        <span id="max-value">100</span>
    </div>

    <label class="range-label">
        <div class="slider-track"></div>
        <input type="range" name="min" min="0" max="1526" value="30" id="min-scale" />
        <input type="range" name="max" min="0" max="1526" value="70" id="max-scale" />
    </label>

    <div class="label-text">
        <span>Mínimo</span>
        <span>Máximo</span>
    </div>
</div>