<!-- MESSAGE -->
<app-message [message]="message" (clearMessage)="clearMessage($event)"></app-message>
<!-- / MESSAGE -->

<!-- RULER -->
<div class="ruler" [ngClass]="{active: setRuler}">
    <a><i class="fas fa-times" (click)="setRuler = false"></i></a>
    <h5>Confira as medidas de nossos produtos.</h5>
    <p>Tira suas medidas com auxílio de uma pessoa e compare com nossa tabela a qual você se encaixar.</p>
    <table>
        <thead>
            <tr>
                <th>Tamanho</th>
                <th>Polegadas</th>
                <th>Centímetros</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medida of medidas">
                <td>{{medida.tamanho}}</td>
                <td>{{medida.polegadas}}</td>
                <td>{{medida.centimetros}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- / RULER -->

<!-- SHIPPING -->
<div class="shipping" [ngClass]="{active: setShipping}">
    <a><i class="fas fa-times" (click)="setShipping = false"></i></a>

    <p>Simule o prazo de entrega e o taxa de entrega para seu CEP abaixo:</p>

    <div class="result-shipping" *ngIf="taxaEntrega != undefined">
        <div class="location">
            <small><span>Localização:</span> São Paulo, SP</small>
            <small><span>Endereço:</span> Rua das Laranjeiras, Bairro Cascata</small>
        </div>

        <div class="values">
            <small><span>Prazo:</span> 10 dia(s)</small>
            <small><span>Taxa de entrega:</span> R$10,90</small>
        </div>
    </div>

    <div class="input-cep">
        <input type="text" />
        <button type="button" class="button button-warning button-uppercase button-semi button-base" mask="00.000-000">Ok</button>
    </div>
</div>
<!-- / SHIPPING -->

<!-- HEADER COMPONENT -->
<app-header></app-header>
<!-- / HEADER COMPONENT -->

<!-- SINGLE PRODUCT -->
<article class="single-product container gap-section">
    <div class="breadcrumb">
        <a>Início</a>
        <i class="fa fa-chevron-right"></i>
        <!-- Gênero -->
        <a (click)="goToProdutos(genero)">
            {{genero}}</a>
        <i class="fa fa-chevron-right"></i>
        <!-- Categoria -->
        <a (click)="goToProdutos(genero, categoria)">
            {{categoria}}</a>
        <i class="fa fa-chevron-right"></i>
        <!-- Tipo -->
        <a (click)="goToProdutos(genero, categoria, tipo)">
            {{tipo}}</a>
        <i class="fa fa-chevron-right"></i>
        <!-- Marca -->
        <a (click)="goToProdutos(genero, categoria, tipo, marca)">
            {{marca}}</a>
    </div>

    <div class="single-product--content">
        <div class="thumb-container">
            <swiper [config]="thumbSlide">
                <ng-template swiperSlide *ngFor="let imagem of imagens">
                    <div (click)="changeImageActive(imagem.nome, imagem.tipo)" class="thumb-wrapper"
                        [ngClass]="{active: isImageActive(imagem.nome, imagem.tipo)}">
                        <img
                            src="/assets/produtos/{{genero | replace:' ':'-'}}/{{categoria | replace:' ':'-'}}/{{tipo | replace:' ':'-'}}/{{imagem.nome | replace:' ':'-'}}.{{imagem.tipo}}" />
                    </div>
                </ng-template>
            </swiper>
        </div>

        <div class="image-container">
            <img class="active" [src]="fullPathImage | replace:' ':'-'" title="{{nome}}" />
        </div>

        <div class="description">
            <div class="product-information">
                <h5 class="brand">{{marca}}</h5>
                <h4 class="name">{{nome}}</h4>

                <div *ngIf="precoSelecionado == undefined" class="price-box">
                    <span class="price">
                        <small class="currency">À partir de </small>{{preco | currency: 'BRL'}}
                    </span>
                    <span class="installment">ou até {{parcela}}x de {{preco / parcela | currency: 'BRL'}} sem
                        juros</span>
                </div>

                <div *ngIf="precoSelecionado != undefined" class="price-box">
                    <span class="price">{{precoSelecionado | currency: 'BRL'}}</span>
                    <span class="installment">ou até {{parcela}}x de {{precoSelecionado / parcela | currency:
                        'BRL'}} sem juros</span>
                </div>
            </div>

            <div class="product-choice" (change)="setQuantidadeEstoque()">
                <h6 class="title">Escolha o tamanho</h6>
                <div class="radiobox-container">
                    <app-radiobox *ngFor="let tamanho of tamanhos"
                        (click)="setTamanho(tamanho.descricao, tamanho.id)"
                        title="{{tamanho.descricao}}" placeholder="{{tamanho.descricao}}" name="tamanho"
                        value="{{tamanho.descricao | replace}}" check="''">
                    </app-radiobox>
                </div>

                <h6 class="title">Escolha a cor</h6>
                <div class="radiobox-container">
                    <app-radiobox *ngFor="let cor of cores" (click)="setCor(cor.descricao, cor.id)"
                        title="{{cor.descricao}}" name="cor.descricao" value="{{cor.descricao}}" check="''"
                        color="{{cor.valor}}">
                    </app-radiobox>
                </div>

                <span *ngIf="quantidadeEstoque" class="quantity">Quantidade estoque: {{quantidadeEstoque}}
                    unid(s)</span>

                <button (click)="addProdutoCarrinho()" type="button"
                    class="button button-warning button-uppercase button-semi button-base">
                    <i class="fa fa-cart-plus"></i>
                    Comprar
                </button>
            </div>

            <div class="button-group">
                <button><i class="fas fa-ruler-combined" (click)="setRuler = true"></i>Medidas</button>
                <button><i class="fa fa-truck" (click)="setShipping = true"></i>Frete</button>
            </div>

            <div class="add-information">
                <h6 [ngClass]="{'hide': sideDescription == true}">Sobre o produto<i class="fas fa-minus"
                        (click)="sideDescription=!sideDescription" [ngClass]="{'fa-plus': sideDescription == true}"></i>
                </h6>
                <div class="description-container" [ngClass]="{hide: sideDescription == true}">
                    <p>
                        {{descricao}}
                    </p>
                </div>

                <h6 [ngClass]="{'hide': sideDetail == true}">Mais informações<i class="fas fa-minus"
                        (click)="sideDetail=!sideDetail" [ngClass]="{'fa-plus': sideDetail == true}"></i></h6>
                <div class="detail-container" [ngClass]="{hide: sideDetail == true}">
                    <p>
                        {{detalhe}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
<!-- / SINGLE PRODUCT -->

<!-- COMMENTARY GALLERY -->
<section class="commentary-gallery container gap-section" *ngIf="comentarios.length > 0; else emptyCommentary">
    <swiper [config]="commentaryGallery" #customSwiperCommentary>
        <ng-template swiperSlide *ngFor="let comentario of comentarios">
            <app-commentary date="{{comentario.dataComentario}}"
                author="{{comentario.usuario.nome}} {{comentario.usuario.sobrenome}}"
                rate="{{comentario.classificacao}}" commentary="{{comentario.descricao}}">
            </app-commentary>
        </ng-template>
    </swiper>

    <div class="slide-controls container">
        <button type="button" class="prev-button" (click)="prevSlide(customSwiperCommentary)">
            <i title="Anterior" class="fas fa-chevron-left"></i>
        </button>

        <button type="button" class="next-button" (click)="nextSlide(customSwiperCommentary)">
            <i title="Próximo" class="fas fa-chevron-right"></i>
        </button>
    </div>
</section>
<ng-template #emptyCommentary>
    <div class="container gap-section">
        <app-emptymessage message="Nenhum comentário adicionado, já comprou e gostaria de deixar sua avaliação?"
            routerLink="/comentarios" icon="fas fa-user" link="Faça o Login"></app-emptymessage>
    </div>
</ng-template>
<!-- / COMMENTARY GALLERY -->

<!-- MOST SALE GENDER -->
<section class="most-sale container gap-section">
    <div class="headline">
        <h6 class="subtitle">Aproveite</h6>
        <h4 class="title">Você também pode gostar</h4>
    </div>

    <swiper [config]="mostSaleSlide" #customSwiperGender>
        <ng-template swiperSlide *ngFor="let produto of produtosGenero">
            <app-card
                image="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                name="{{produto.nome}}" priceMin="{{produto.estoques | priceproduto:'min'}}"
                nome="{{produto.nome | replace:' ':'-'}}" id="{{produto.id}}"></app-card>
        </ng-template>
    </swiper>

    <div class="slide-controls container">
        <button type="button" class="prev-button" (click)="prevSlide(customSwiperGender)">
            <i title="Anterior" class="fas fa-chevron-left"></i>
        </button>

        <button type="button" class="next-button" (click)="nextSlide(customSwiperGender)">
            <i title="Próximo" class="fas fa-chevron-right"></i>
        </button>
    </div>
</section>
<!-- / MOST SALE GENDER -->

<!-- MOST SALE CATEGORY -->
<section class="most-sale container gap-section">
    <div class="headline">
        <h6 class="subtitle">Aproveite</h6>
        <h4 class="title">Você também pode gostar</h4>
    </div>

    <swiper [config]="mostSaleSlide" #customSwiperCategory>
        <ng-template swiperSlide *ngFor="let produto of produtosCategoria">
            <app-card
                image="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                name="{{produto.nome}}" priceMin="{{produto.estoques | priceproduto:'min'}}"
                nome="{{produto.nome | replace:' ':'-'}}" id="{{produto.id}}"></app-card>
        </ng-template>
    </swiper>

    <div class="slide-controls container">
        <button type="button" class="prev-button" (click)="prevSlide(customSwiperCategory)">
            <i title="Anterior" class="fas fa-chevron-left"></i>
        </button>

        <button type="button" class="next-button" (click)="nextSlide(customSwiperCategory)">
            <i title="Próximo" class="fas fa-chevron-right"></i>
        </button>
    </div>
</section>
<!-- / MOST SALE CATEGORY -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- / FOOTER -->