<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="footer--box-container">
            <div class="box">
                <a class="logo">
                    <img title="Outono Fashion" [src]="logo" alt="Outono Fashion" />
                </a>
                <p class="about-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard.
                </p>
                <a class="button button-black button-uppercase button-semi-bold button-sm">
                    Continue lendo
                </a>
            </div>

            <div class="box">
                <h6>Outono Fashion</h6>
                <a>Sobre nós</a>
                <a>Políticas de privacidade</a>
                <a>Termos e condições</a>
                <a (click)="redirectTo('contato')">Contato</a>
            </div>

            <div class="box">
                <h6>Contato</h6>
                <a>contato@outonofashion.com.br</a>
                <a>+55 (11) 9 9999-9999</a>
                <a>Rua Max Dietz, 1897 Jd. José de Paula Londrina - PR</a>
                <a class="social"><i class="fab fa-facebook-f"></i></a>
                <a class="social"><i class="fab fa-twitter"></i></a>
                <a class="social"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="box">
                <h6>Formas de pagamento</h6>
                <p>Sistema Moip, você está em um ambiente 100% seguro.</p>
                <i class="fab fa-cc-visa payment"></i>
                <i class="fab fa-cc-mastercard payment"></i>
                <i class="fas fa-barcode payment"></i>
                <i class="fas fa-credit-card payment"></i>
            </div>
        </div>

        <div class="footer--credit">
            <p>Outono Fashion &copy; 2022 - Todos os direitos reservados</p>
            <p>
                Desenvolvido por
                <a class="button button-warning button-xs">Higor E. Batista</a>
            </p>
        </div>
    </div>
</footer>
<!-- / FOOTER -->