@import '../../../styles.scss';

.footer {
    padding: 50px 0;

    .footer--box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 36px;

        padding-bottom: 50px;

        .box {
            @media screen and (max-width: 510px) {
                text-align: center;
            }

            .logo {
                margin: 0 auto;

                img {
                    max-width: 190px;
                    margin-bottom: 20px;
                }
            }

            p {
                font-size: $font-size-sm;
                font-weight: $font-weight-regular;
                line-height: var(line-height-sm);
                color: $color-gray-600;
                margin-bottom: 20px;
            }

            h6 {
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                line-height: $line-height-base;
                text-transform: uppercase;
                margin-bottom: 40px;
            }

            a {
                display: block;
                font-size: $font-size-sm;
                font-weight: $font-weight-regular;
                line-height: $line-height-sm;
                color: $color-gray-500;
                transition: all 200ms ease-in;
                width: fit-content;

                &.social:hover,
                &:hover {
                    color: $color-warning;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                &.social {
                    display: inline-block;
                    font-size: $font-size-h4;
                    color: $color-black;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }

            i.payment {
                font-size: $font-size-lg;
                color: $color-black;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .footer--credit {
        padding-top: 50px;
        border-top: 1px solid $color-gray-500;
        text-align: center;

        p {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $color-gray-500;
        }
    }
}