<header class="header-checkout">
    <div class="container">
        <div class="header-checkout--header-top">
            <div class="header-deadline">
                <p>Trocas e devoluções</p>
                <h6>30 dias grátis</h6>
            </div>

            <a class="header-logo">
                <img title="Outono Fashion" [src]="logo" alt="Outono Fashion" />
            </a>

            <div class="header-security">
                <i class="fas fa-unlock-alt"></i>
                <label>
                    <small>Ambiente</small>
                    <h6>100% seguro</h6>
                </label>
            </div>
        </div>
    </div>
</header>