<!-- MESSAGE -->
<app-message [message]="message" (clearMessage)="clearMessage($event)"></app-message>
<!-- / MESSAGE -->

<!-- LOGIN -->
<section class="login container">
    <div class="login--content">
        <a title="Outono Fashion" class="logo"><img [src]="logo" alt="Outono Fashion" /></a>

        <div *ngIf="!register" class="form-login">
            <h6>Já sou cadastrado</h6>

            <form class="form-data" [formGroup]="formLogin">
                <div class="input-wrapper">
                    <div class="input-small"
                        [ngClass]="{invalid: formLogin.controls['email'].invalid && (formLogin.controls['email'].touched || formLogin.controls['email'].dirty), valid: formLogin.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu e-mail"
                                formControlName="email" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small"
                        [ngClass]="{invalid: formLogin.controls['senha'].invalid && (formLogin.controls['senha'].touched || formLogin.controls['senha'].dirty), valid: formLogin.valid}">
                        <label class="input-label">
                            <input [type]="passwordLoginType" class="input-field" placeholder="Insira sua senha"
                                formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: passwordLoginBoolean}" (click)="setPasswordLogin()"
                                    class="fas fa-eye"></i>
                                <i [ngClass]="{active: !passwordLoginBoolean}" (click)="setPasswordLogin()"
                                    class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="submit-wrapper">
                    <button type="button" (click)="loginAsync(formLogin.value)" [disabled]="formLogin.invalid"
                        class="button button-warning button-uppercase button-semi button-base">
                        Entrar
                    </button>
                    <a class="forget-password">Esqueceu a senha?</a>
                </div>

                <button type="button" class="button button-white button-uppercase button-semi button-base"
                    (click)="setRegister()">
                    Criar conta
                </button>
            </form>
        </div>

        <div *ngIf="register" class="form-register">
            <h6>Quero me cadastrar</h6>

            <div class="form-option">
                <app-checkbox type="radio" title="Pessoa Física" placeholder="Pessoa Física" name="pessoa" value="pf"
                    (click)="setRegisterType('pf')" [check]="registerType"></app-checkbox>

                <app-checkbox type="radio" title="Pessoa Jurídica" placeholder="Pessoa Jurídica" name="pessoa"
                    value="pj" (click)="setRegisterType('pj')" [check]="registerType"></app-checkbox>
            </div>

            <span class="terms">
                Eu concordo com os <a routerLink="/termos-uso">Termos de serviço</a> e as
                <a routerLink="politicas-privacidade">Políticas de privacidade</a>
            </span>

            <form *ngIf="registerType == 'pf'" class="form-data form-pf" [formGroup]="formInsertPF">
                <div class="input-wrapper">
                    <!-- Nome -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['nome'].invalid && (formInsertPF.controls['nome'].touched || formInsertPF.controls['nome'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu nome"
                                formControlName="nome" />
                            <small class="small-label">Nome</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Sobrenome -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['sobrenome'].invalid && (formInsertPF.controls['sobrenome'].touched || formInsertPF.controls['sobrenome'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu sobrenome"
                                formControlName="sobrenome" />
                            <small class="small-label">Sobrenome</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- E-mail -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['email'].invalid && (formInsertPF.controls['email'].touched || formInsertPF.controls['email'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="email" class="input-field" placeholder="Informe seu e-mail"
                                formControlName="email" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- CPF -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['cpfCnpj'].invalid && (formInsertPF.controls['cpfCnpj'].touched || formInsertPF.controls['cpfCnpj'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu CPF" mask="000.000.000-00"
                                formControlName="cpfCnpj" />
                            <small class="small-label">CPF</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- RG -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['rgIe'].invalid && (formInsertPF.controls['rgIe'].touched || formInsertPF.controls['rgIe'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu RG" mask="0.000.000"
                                formControlName="rgIe" />
                            <small class="small-label">RG</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Nascimento -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['dataNascimento'].invalid && (formInsertPF.controls['dataNascimento'].touched || formInsertPF.controls['dataNascimento'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input type="date" class="input-field" placeholder="Informe seu Nascimento"
                                formControlName="dataNascimento" />
                            <small class="small-label">Nascimento</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Gênero -->
                    <div class="select-box"
                        [ngClass]="{invalid: formInsertPF.controls['genero'].invalid && (formInsertPF.controls['genero'].touched || formInsertPF.controls['genero'].dirty), valid: formInsertPF.valid}">
                        <select class="select-field" formControlName="genero">
                            <option selected disabled>Informe seu Gênero</option>
                            <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.descricao}}
                            </option>
                        </select>
                    </div>

                    <!-- Senha -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['senha'].invalid && (formInsertPF.controls['senha'].touched || formInsertPF.controls['senha'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input [type]="passwordInsertPFType" class="input-field" placeholder="Insira sua senha"
                                formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: passwordInsertPFBoolean}" (click)="setPasswordInsertPF()"
                                    class="fas fa-eye"></i>
                                <i [ngClass]="{active: !passwordInsertPFBoolean}" (click)="setPasswordInsertPF()"
                                    class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Repetir Senha -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPF.controls['repetirSenha'].invalid && (formInsertPF.controls['repetirSenha'].touched || formInsertPF.controls['repetirSenha'].dirty), valid: formInsertPF.valid}">
                        <label class="input-label">
                            <input [type]="passwordRepeatInsertPFType" class="input-field"
                                placeholder="Insira sua senha novamente" formControlName="repetirSenha" />
                            <small class="small-label">Repetir Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: passwordRepeatInsertPFBoolean}"
                                    (click)="setPasswordRepeatInsertPF()" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !passwordRepeatInsertPFBoolean}"
                                    (click)="setPasswordRepeatInsertPF()" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="submit-wrapper">
                    <button type="button" (click)="insertPFAsync(formInsertPF.value)"
                        class="button button-warning button-uppercase button-semi button-base">
                        Cadastrar
                    </button>
                </div>
            </form>

            <form *ngIf="registerType == 'pj'" class="form-data form-pj" [formGroup]="formInsertPJ">
                <div class="input-wrapper">
                    <!-- Nome -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['nome'].invalid && (formInsertPJ.controls['nome'].touched || formInsertPJ.controls['nome'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe sua razão social"
                                formControlName="nome" />
                            <small class="small-label">Razão Social</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- E-mail -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['email'].invalid && (formInsertPJ.controls['email'].touched || formInsertPJ.controls['email'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu e-mail"
                                formControlName="email" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- CNPJ -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['cpfCnpj'].invalid && (formInsertPJ.controls['cpfCnpj'].touched || formInsertPJ.controls['cpfCnpj'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe seu CNPJ" mask="00.000.000/0000-00"
                                formControlName="cpfCnpj" />
                            <small class="small-label">CNPJ</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- IE -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['rgIe'].invalid && (formInsertPJ.controls['rgIe'].touched || formInsertPJ.controls['rgIe'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input type="text" class="input-field" placeholder="Informe sua IE" mask="000.000.000.000"
                                formControlName="rgIe" />
                            <small class="small-label">IE</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Senha -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['senha'].invalid && (formInsertPJ.controls['senha'].touched || formInsertPJ.controls['senha'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input [type]="passwordInsertPJType" class="input-field" placeholder="Insira sua senha"
                                formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: passwordInsertPJBoolean}" (click)="setPasswordInsertPJ()"
                                    class="fas fa-eye"></i>
                                <i [ngClass]="{active: !passwordInsertPJBoolean}" (click)="setPasswordInsertPJ()"
                                    class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <!-- Repetir Senha -->
                    <div class="input-small"
                        [ngClass]="{invalid: formInsertPJ.controls['repetirSenha'].invalid && (formInsertPJ.controls['repetirSenha'].touched || formInsertPJ.controls['repetirSenha'].dirty), valid: formInsertPJ.valid}">
                        <label class="input-label">
                            <input [type]="passwordRepeatInsertPJType" class="input-field"
                                placeholder="Insira sua senha novamente" formControlName="repetirSenha" />
                            <small class="small-label">Repetir Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: passwordRepeatInsertPJBoolean}"
                                    (click)="setPasswordRepeatInsertPJ()" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !passwordRepeatInsertPJBoolean}"
                                    (click)="setPasswordRepeatInsertPJ()" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="submit-wrapper">
                    <button type="button" (click)="insertPJAsync(formInsertPJ.value)"
                        class="button button-warning button-uppercase button-semi button-base">
                        Cadastrar
                    </button>
                </div>
            </form>

            <button type="button" class="button button-white button-uppercase button-semi button-base"
                (click)="setRegister()">
                Fazer Login
            </button>
        </div>
    </div>

    <img title="Outono Fashion" class="login--banner" [src]="banner" alt="Outono Fashion" />
</section>
<!-- / LOGIN -->