<!-- LOGIN -->
<section class="login container">
    <div class="login--content">
        <a title="Outono Fashion" class="logo"><img [src]="logo" alt="Outono Fashion" /></a>

        <div *ngIf="!register" class="form-login">
            <h6>Já sou cadastrado</h6>

            <form class="form-data">
                <div class="input-wrapper">
                    <div class="input-small" [ngClass]="{invalid: formLogin.controls['login'].invalid && (formLogin.controls['login'].touched || formLogin.controls['login'].dirty), valid: formLogin.valid}">
                        <label class="input-label" for="login">
                            <input type="text" name="login" id="login" class="input-field" placeholder="Informe seu e-mail"
                                required formControlName="login" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formLogin.controls['senha'].invalid && (formLogin.controls['senha'].touched || formLogin.controls['senha'].dirty), valid: formLogin.valid}">
                        <label class="input-label" for="senha">
                            <input [type]="type" name="senha" id="senha" class="input-field" placeholder="Insira sua senha" required formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                 </div>

                <div class="submit-wrapper">
                    <button type="submit" class="button button-warning button-uppercase button-semi button-base">
                        Entrar
                    </button>
                    <a class="forget-password">Esqueceu a senha?</a>
                </div>
    
                <button type="button" class="button button-white button-uppercase button-semi button-base" (click)="setRegister()">
                    Criar conta
                </button>
            </form>
        </div>

        <div *ngIf="register" class="form-register">
            <h6>Quero me cadastrar</h6>

            <div class="form-option">
                <app-checkbox
                    type="radio"
                    title="Pessoa Física"
                    placeholder="Pessoa Física"
                    name="pessoa"
                    value="pf"
                    (click)="setRegisterType('pf')"
                    [check]="registerType"
                ></app-checkbox>
    
                <app-checkbox
                    type="radio"
                    title="Pessoa Jurídica"
                    placeholder="Pessoa Jurídica"
                    name="pessoa"
                    value="pj"
                    (click)="setRegisterType('pj')"
                    [check]="registerType"
                ></app-checkbox>
            </div>

            <span class="terms">
                Eu concordo com os <a>Termos de serviço</a> e as
                <a>Políticas de privacidade</a>
            </span>
            
            <form *ngIf="registerType == 'pf'" class="form-data form-pf">
                <div class="input-wrapper">
                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['nome'].invalid && (formRegisterPF.controls['nome'].touched || formRegisterPF.controls['nome'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="nome">
                            <input type="text" name="nome" id="nome" class="input-field" placeholder="Informe seu nome"
                                required formControlName="nome" />
                            <small class="small-label">Nome</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['sobrenome'].invalid && (formRegisterPF.controls['sobrenome'].touched || formRegisterPF.controls['sobrenome'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="sobrenome">
                            <input type="text" name="sobrenome" id="sobrenome" class="input-field" placeholder="Informe seu sobrenome"
                                required formControlName="sobrenome" />
                            <small class="small-label">Sobrenome</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['login'].invalid && (formRegisterPF.controls['login'].touched || formRegisterPF.controls['login'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="login-pf">
                            <input type="text" name="login-pf" id="login-pf" class="input-field" placeholder="Informe seu e-mail"
                                required formControlName="login" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['cpf'].invalid && (formRegisterPF.controls['cpf'].touched || formRegisterPF.controls['cpf'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="cpf">
                            <input type="text" name="cpf" id="cpf" class="input-field" placeholder="Informe seu CPF"
                                required formControlName="cpf" />
                            <small class="small-label">CPF</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['rg'].invalid && (formRegisterPF.controls['rg'].touched || formRegisterPF.controls['rg'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="rg">
                            <input type="text" name="rg" id="rg" class="input-field" placeholder="Informe seu RG"
                                required formControlName="rg" />
                            <small class="small-label">RG</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['nascimento'].invalid && (formRegisterPF.controls['nascimento'].touched || formRegisterPF.controls['nascimento'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="nascimento">
                            <input type="text" name="nascimento" id="nascimento" class="input-field" placeholder="Informe seu Nascimento"
                                required formControlName="login" />
                            <small class="small-label">Nascimento</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="select-box"
                        [ngClass]="{invalid: formRegisterPF.controls['genero'].invalid && (formRegisterPF.controls['genero'].touched || formRegisterPF.controls['genero'].dirty), valid: formRegisterPF.valid}">
                        <select name="genero" id="genero" class="select-field"
                            formControlName="genero">
                            <option selected disabled>Informe seu Gênero</option>
                            <option value="masculino">Masculino</option>
                        </select>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['senha'].invalid && (formRegisterPF.controls['senha'].touched || formRegisterPF.controls['senha'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="senha-pf">
                            <input [type]="type" name="senha-pf" id="senha-pf" class="input-field" placeholder="Insira sua senha" required formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPF.controls['senha'].invalid && (formRegisterPF.controls['senha'].touched || formRegisterPF.controls['senha'].dirty), valid: formRegisterPF.valid}">
                        <label class="input-label" for="repetir-senha-pf">
                            <input [type]="type" name="repetir-senha-pf" id="repetir-senha-pf" class="input-field" placeholder="Insira sua senha novamente" required formControlName="repetirSenha" />
                            <small class="small-label">Repetir Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="submit-wrapper">
                    <button type="submit" class="button button-warning button-uppercase button-semi button-base">
                        Cadastrar
                    </button>
                </div>
            </form>

            <form *ngIf="registerType == 'pj'" class="form-data form-pj">
                <div class="input-wrapper">
                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['razaoSocial'].invalid && (formRegisterPJ.controls['razaoSocial'].touched || formRegisterPJ.controls['razaoSocial'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="razao-social">
                            <input type="text" name="razao-social" id="razao-social" class="input-field" placeholder="Informe sua razão social"
                                required formControlName="razaoSocial" />
                            <small class="small-label">Razão Social</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['login'].invalid && (formRegisterPJ.controls['login'].touched || formRegisterPJ.controls['login'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="login-pf">
                            <input type="text" name="login-pf" id="login-pf" class="input-field" placeholder="Informe seu e-mail"
                                required formControlName="login" />
                            <small class="small-label">E-mail</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['cnpj'].invalid && (formRegisterPJ.controls['cnpj'].touched || formRegisterPJ.controls['cnpj'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="cnpj">
                            <input type="text" name="cnpj" id="cnpj" class="input-field" placeholder="Informe seu CNPJ"
                                required formControlName="cnpj" />
                            <small class="small-label">CNPJ</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['ie'].invalid && (formRegisterPJ.controls['ie'].touched || formRegisterPJ.controls['ie'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="ie">
                            <input type="text" name="ie" id="ie" class="input-field" placeholder="Informe sua IE"
                                required formControlName="ie" />
                            <small class="small-label">IE</small>
                            <div class="group-icon">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <input type="hidden" name="genero" value="Unissex" formControlName="genero" />

                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['senha'].invalid && (formRegisterPJ.controls['senha'].touched || formRegisterPJ.controls['senha'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="senha-pj">
                            <input [type]="type" name="senha-pj" id="senha-pj" class="input-field" placeholder="Insira sua senha" required formControlName="senha" />
                            <small class="small-label">Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>

                    <div class="input-small" [ngClass]="{invalid: formRegisterPJ.controls['repetirSenha'].invalid && (formRegisterPJ.controls['repetirSenha'].touched || formRegisterPJ.controls['repetirSenha'].dirty), valid: formRegisterPJ.valid}">
                        <label class="input-label" for="repetir-senha-pj">
                            <input [type]="type" name="repetir-senha-pj" id="repetir-senha-pj" class="input-field" placeholder="Insira sua senha novamente" required formControlName="repetirSenha" />
                            <small class="small-label">Repetir Senha</small>
                            <div class="group-icon">
                                <i [ngClass]="{active: eyeActive}" (click)="setEye('text')" class="fas fa-eye"></i>
                                <i [ngClass]="{active: !eyeActive}" (click)="setEye('password')" class="fas fa-eye-slash"></i>
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-times-circle"></i>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="submit-wrapper">
                    <button type="submit" class="button button-warning button-uppercase button-semi button-base">
                        Cadastrar
                    </button>
                </div>
            </form>

            <button type="button" class="button button-white button-uppercase button-semi button-base" (click)="setRegister()">
                Fazer Login
            </button>
        </div>
    </div>

    <img title="Outono Fashion" class="login--banner" [src]="banner" alt="Outono Fashion" />
</section>
<!-- / LOGIN -->