<!-- HEADER CHECKOUT -->
<app-header-checkout></app-header-checkout>
<!-- / HEADER CHECKOUT -->

<!-- MESSAGE -->
<app-message [message]="message" (clearMessage)="clearMessage($event)"></app-message>
<!-- / MESSAGE -->

<!-- ADD ENDEREÇO -->
<div class="address--add" [ngClass]="{active: addressAdd}">
    <form class="address--add-form form-group" [formGroup]="formInsertEndereco">
        <div class="input-update"
            [ngClass]="{invalid: formInsertEndereco.controls['enderecoApelido'].invalid && (formInsertEndereco.controls['enderecoApelido'].touched || formInsertEndereco.controls['enderecoApelido'].dirty), valid: formInsertEndereco.valid}">
            <label for="enderecoApelido">Endereço apelido</label>
            <input type="text" id="enderecoApelido" placeholder="Insira apelido do endereço"
                formControlName="enderecoApelido" />
        </div>

        <div class="input-update"
            [ngClass]="{invalid: formInsertEndereco.controls['enderecoCep'].invalid && (formInsertEndereco.controls['enderecoCep'].touched || formInsertEndereco.controls['enderecoCep'].dirty), valid: formInsertEndereco.valid}">
            <label for="enderecoCep">CEP</label>
            <div class="wrapper-input">
                <input type="text" id="enderecoCep" placeholder="Insira seu CEP" formControlName="enderecoCep" />
                <button type="button" (click)="searchCepAsync(formInsertEndereco.value)">Pesquisar</button>
            </div>
        </div>

        <div class="wrapper-input">
            <div class="input-update"
                [ngClass]="{invalid: formInsertEndereco.controls['enderecoUf'].invalid && (formInsertEndereco.controls['enderecoUf'].touched || formInsertEndereco.controls['enderecoUf'].dirty), valid: formInsertEndereco.valid}">
                <label for="enderecoUf">Estado</label>
                <input type="text" id="enderecoUf" placeholder="Insira seu estado" formControlName="enderecoUf" />
            </div>

            <div class="input-update"
                [ngClass]="{invalid: formInsertEndereco.controls['enderecoCidade'].invalid && (formInsertEndereco.controls['enderecoCidade'].touched || formInsertEndereco.controls['enderecoCidade'].dirty), valid: formInsertEndereco.valid}">
                <label for="enderecoCidade">Cidade</label>
                <input type="text" id="enderecoCidade" placeholder="Insira sua cidade"
                    formControlName="enderecoCidade" />
            </div>
        </div>

        <div class="input-update"
            [ngClass]="{invalid: formInsertEndereco.controls['enderecoBairro'].invalid && (formInsertEndereco.controls['enderecoBairro'].touched || formInsertEndereco.controls['enderecoBairro'].dirty), valid: formInsertEndereco.valid}">
            <label for="enderecoBairro">Bairro</label>
            <input type="text" id="enderecoBairro" placeholder="Insira seu bairro" formControlName="enderecoBairro" />
        </div>

        <div class="input-update"
            [ngClass]="{invalid: formInsertEndereco.controls['enderecoLogradouro'].invalid && (formInsertEndereco.controls['enderecoLogradouro'].touched || formInsertEndereco.controls['enderecoLogradouro'].dirty), valid: formInsertEndereco.valid}">
            <label for="enderecoLogradouro">Logradouro</label>
            <input type="text" id="enderecoLogradouro" placeholder="Insira seu logradouro"
                formControlName="enderecoLogradouro" />
        </div>

        <div class="wrapper-input">
            <div class="input-update"
                [ngClass]="{invalid: formInsertEndereco.controls['enderecoNumero'].invalid && (formInsertEndereco.controls['enderecoNumero'].touched || formInsertEndereco.controls['enderecoNumero'].dirty), valid: formInsertEndereco.valid}">
                <label for="enderecoNumero">Número</label>
                <input type="text" id="enderecoNumero" placeholder="Insira seu número"
                    formControlName="enderecoNumero" />
            </div>

            <div class="input-update"
                [ngClass]="{invalid: formInsertEndereco.controls['enderecoComplemento'].invalid && (formInsertEndereco.controls['enderecoComplemento'].touched || formInsertEndereco.controls['enderecoComplemento'].dirty), valid: formInsertEndereco.valid}">
                <label for="enderecoComplemento">Complemento</label>
                <input type="text" id="enderecoComplemento" placeholder="Insira seu complemento"
                    formControlName="enderecoComplemento" />
            </div>

            <div class="input-update"
                [ngClass]="{invalid: formInsertEndereco.controls['enderecoReferencia'].invalid && (formInsertEndereco.controls['enderecoReferencia'].touched || formInsertEndereco.controls['enderecoReferencia'].dirty), valid: formInsertEndereco.valid}">
                <label for="enderecoReferencia">Referência</label>
                <input type="text" id="enderecoReferencia" placeholder="Insira sua referência"
                    formControlName="enderecoReferencia" />
            </div>
        </div>

        <div class="input-update" style="border: none;">
            <label for="enderecoAtivo">Endereço ativo</label>
            <div class="checkbox">
                <label title="Endereço ativo" class="check-label">
                    Sim, quero este endereço ativo.
                    <input type="checkbox" formControlName="enderecoAtivo" />
                    <span class="check-span"></span>
                </label>
            </div>
        </div>

        <div class="wrapper-button">
            <button type="button" class="button button-warning button-semi button-uppercase button-sm"
                (click)="insertEnderecoAsync(formInsertEndereco.value)">Adicionar endereço</button>
            <button type="button" class="button button-white button-uppercase button-semi button-sm"
                (click)="addressAdd = false">
                Cancelar
            </button>
        </div>
    </form>
</div>
<!-- / ADD ENDEREÇO -->

<!-- PAYMENT CHECKOUT -->
<section class="payment-checkout">
    <div class="container">
        <app-step [identity]="true" [payment]="true"></app-step>

        <div class="payment-checkout--payment-content">
            <div class="user-information">
                <div class="user-location">
                    <h4 class="title">Endereço</h4>
                    <span class="sub-title">Onde você deseja receber seu produto?</span>

                    <div class="location-options custom-scrollbar">
                        <app-radiolocation *ngFor="let endereco of enderecosModel"
                            (active)="activeEnderecoApelidoAsync($event)"
                            enderecoApelido="{{endereco.id.enderecoApelido}}"
                            enderecoLogradouro="{{endereco.enderecoLogradouro}}"
                            enderecoNumero="{{endereco.enderecoNumero}}" enderecoBairro="{{endereco.enderecoBairro}}"
                            enderecoReferencia="{{endereco.enderecoReferencia}}"
                            enderecoComplemento="{{endereco.enderecoComplemento}}"
                            enderecoCidade="{{endereco.enderecoCidade}}" enderecoUf="{{endereco.enderecoUf}}"
                            enderecoCep="{{endereco.enderecoCep}}" [enderecoAtivo]="endereco.enderecoAtivo">
                        </app-radiolocation>

                        <a class="new-address" (click)="addressAdd = true">
                            <i class="fas fa-plus"></i>
                            <p>Adicionar novo endereço</p>
                        </a>
                    </div>
                </div>

                <div class="user-payment">
                    <h4 class="title">Pagamento</h4>
                    <span class="sub-title">Como você deseja pagar?</span>

                    <div class="payment-choice">
                        <label class="option-payment" (click)="createFormCartaoCredito()">
                            <input type="radio" name="payment-method" value="1" [(ngModel)]="formaPagamento" />
                            <span>
                                <p><i class="fas fa-credit-card"></i>Cartão de Crédito</p>
                            </span>
                        </label>

                        <label class="option-payment">
                            <input type="radio" name="payment-method" value="2" [(ngModel)]="formaPagamento" />
                            <span>
                                <p><i class="fas fa-barcode"></i>Boleto Bancário</p>
                            </span>
                        </label>

                        <label class="option-payment">
                            <input type="radio" name="payment-method" value="3" [(ngModel)]="formaPagamento" />
                            <span>
                                <p><i class="fas fa-exchange-alt"></i>PIX</p>
                            </span>
                        </label>
                    </div>

                    <div *ngIf="formaPagamento != undefined" class="payment-method">
                        <div *ngIf="formaPagamento == 1" class="credit-card" [formGroup]="formCartaoCredito">
                            <div class="input-box"
                                [ngClass]="{invalid: formCartaoCredito.controls['numero'].invalid && (formCartaoCredito.controls['numero'].touched || formCartaoCredito.controls['numero'].dirty), valid: formCartaoCredito.valid}">
                                <label class="input-label" for="numero">Número do cartão</label>
                                <input type="text" id="numero" class="input-field"
                                    placeholder="Insira os números do cartão" required formControlName="numero" />
                                <div class="group-icon">
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-times-circle"></i>
                                </div>
                            </div>

                            <div class="input-box"
                                [ngClass]="{invalid: formCartaoCredito.controls['nomeImpresso'].invalid && (formCartaoCredito.controls['nomeImpresso'].touched || formCartaoCredito.controls['nomeImpresso'].dirty), valid: formCartaoCredito.valid}">
                                <label class="input-label" for="nome-impresso">Nome impresso no cartão</label>
                                <input type="text" id="nome-impresso" class="input-field"
                                    placeholder="Nome como escrito no cartão" formControlName="nomeImpresso" />
                                <div class="group-icon">
                                    <i class="fas fa-check-circle"></i>
                                    <i class="fas fa-times-circle"></i>
                                </div>
                            </div>

                            <div class="box-wrapper">
                                <div class="select-box"
                                    [ngClass]="{invalid: formCartaoCredito.controls['mesValidade'].invalid && (formCartaoCredito.controls['mesValidade'].touched || formCartaoCredito.controls['mesValidade'].dirty), valid: formCartaoCredito.valid}">
                                    <label class="select-label" for="mes-validade">Validade</label>
                                    <select id="mes-validade" class="select-field" formControlName="mesValidade">
                                        <option selected disabled>Mês</option>
                                        <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
                                    </select>
                                </div>

                                <div class="select-box"
                                    [ngClass]="{invalid: formCartaoCredito.controls['anoValidade'].invalid && (formCartaoCredito.controls['anoValidade'].touched || formCartaoCredito.controls['anoValidade'].dirty), valid: formCartaoCredito.valid}">
                                    <label class="select-label" for="ano-validade">Ano</label>
                                    <select id="ano-validade" class="select-field" formControlName="anoValidade">
                                        <option selected disabled>Ano</option>
                                        <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                                    </select>
                                </div>

                                <div class="input-box"
                                    [ngClass]="{invalid: formCartaoCredito.controls['cvv'].invalid && (formCartaoCredito.controls['cvv'].touched || formCartaoCredito.controls['cvv'].dirty), valid: formCartaoCredito.valid}">
                                    <label class="input-label" for="cvv">Cód. segurança</label>
                                    <input type="text" id="cvv" class="input-field" placeholder="3 ou 4 dígitos"
                                        formControlName="cvv" />
                                    <div class="group-icon">
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="select-box"
                                [ngClass]="{invalid: formCartaoCredito.controls['parcela'].invalid && (formCartaoCredito.controls['parcela'].touched || formCartaoCredito.controls['parcela'].dirty), valid: formCartaoCredito.valid}">
                                <label class="select-label" for="parcela">Parcelamento</label>
                                <select id="parcela" class="select-field" formControlName="parcela">
                                    <option selected disabled>Parcelas</option>
                                    <option *ngFor="let parcela of parcelas" [value]="parcela">{{parcela}}x de {{total /
                                        parcela | currency:'BRL'}} sem juros</option>
                                </select>
                            </div>

                            <button *ngIf="formCartaoCredito.valid" (click)="finalizarCompra()"
                                class="button button-warning button-uppercase button-semi button-base">
                                Finalizar compra
                            </button>
                        </div>

                        <div *ngIf="formaPagamento == 2" class="bank-slip">
                            <div class="content">
                                <h5>Pagamento à vista no Boleto Bancário</h5>
                                <p>
                                    Você pode visualizar ou imprimir após a finalização do pedido. A
                                    data de vencimento é de 2 dia(s) ocorridos após a conclusão do pedido.
                                    Após esta data, ele perderá a validade.
                                </p>
                            </div>

                            <button (click)="finalizarCompra()"
                                class="button button-warning button-uppercase button-semi button-base">
                                Finalizar compra
                            </button>
                        </div>

                        <div *ngIf="formaPagamento == 3" class="pix">
                            <div class="content">
                                <h5>Pagamento à vista no PIX</h5>
                                <p>
                                    Você pode visualizar a chave de transferência após a finalização do pedido. A
                                    data de vencimento é de 45 minuto(s) ocorridos após a conclusão do pedido.
                                    Após este período, ele perderá a validade.
                                </p>
                            </div>

                            <button (click)="finalizarCompra()"
                                class="button button-warning button-uppercase button-semi button-base">
                                Finalizar compra
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-information">
                <div class="cart-header">
                    <span>Produtos</span>
                    <span>Descricão</span>
                    <span>Valor</span>
                </div>

                <div class="cart-list">
                    <div class="wrapper-products custom-scrollbar">
                        <div class="product-description" *ngFor="let produto of produtosCarrinho">
                            <div class="image-box">
                                <img src="/assets/produtos/{{produto.genero.descricao | replace:' ':'-'}}/{{produto.categoria.descricao | replace:' ':'-'}}/{{produto.tipo.descricao | replace:' ':'-'}}/{{produto.nome | replace:' ':'-'}}-{{produto.id}}-1.webp"
                                    alt="{{produto.nome}}" />
                            </div>

                            <div class="description-box">
                                <h6>{{produto.marca.descricao}}</h6>
                                <p>{{produto.nome}}</p>
                                <small>Quantidade: {{produto.quantidade}}</small>
                                <small>Tamanho: {{produto.tamanhoDescricao}}</small>
                                <small>Cor: {{produto.corDescricao}}</small>
                            </div>

                            <div class="price-box">
                                <h5>{{produto.precoSelecionado | currency:'BRL'}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="cart-footer">
                        <div class="summary-top">
                            <div class="value">
                                <span>Subtotal</span>
                                <span>{{subTotal | currency:'BRL'}}</span>
                            </div>

                            <div class="value">
                                <span>Taxa de entrega</span>
                                <span>{{taxaEntrega | currency:'BRL'}}</span>
                            </div>
                        </div>

                        <div class="summary-middle">
                            <div class="value">
                                <span>Total</span>
                                <div class="total">
                                    <h5>{{total | currency:'BRL'}}</h5>
                                    <small class="installment">ou em até {{parcela}}x de {{total / parcela |
                                        currency:'BRL'}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <p><i class="fa fa-gift"></i>Cupom de desconto</p>

                            <div class="input-wrapper" [formGroup]="formCupom">
                                <div class="input-box"
                                    [ngClass]="{invalid: formCupom.controls['cupom'].invalid && (formCupom.controls['cupom'].touched || formCupom.controls['cupom'].dirty), valid: formCupom.valid}">
                                    <input type="text" class="input-field" placeholder="Insira seu cupom"
                                        formControlName="cupom" />
                                    <div class="group-icon">
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-times-circle"></i>
                                    </div>
                                </div>

                                <button type="button" (click)="findCupomByNomeAsync(formCupom.value)"
                                    class="button button-warning button-uppercase button-semi button-sm">
                                    Aplicar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAYMENT CHECKOUT -->

<!-- FOOTER CHECKOUT -->
<app-footer-checkout></app-footer-checkout>
<!-- / FOOTER CHECKOUT -->